{{template "header.html" . }}
  <div class="widecontent">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3" style="text-align: center;">
          {{template "sidebar.html" . }}
      </div>
      <div class="pure-u-1 pure-u-md-2-3">
        <h1><img src="/static/img/posplay-title-text.svg" style="height: 38px; margin-bottom: -8px" alt="PosPlay"> <small>O jogo do UnderLX</small></h1>
        <p>Bem-vindo ao painel do PosPlay, onde encontra as informações mais relevantes sobre a sua participação no jogo.</p>
        <p>O PosPlay está em constante desenvolvimento. Fique atento, podemos anunciar novidades a qualquer momento.</p>
        {{ if not .PairedDevice }}
        <p><strong>Para poder começar a jogar com as suas viagens, <a href="/pair">associe um dispositivo</a>.</strong></p>
        {{end}}
        <h2>Recompensas recentes</h2>
        <table class="pure-table pure-table-horizontal" style="width: 100%">
          <thead>
            <tr>
              <th>Data</th>
              <th>Motivo</th>
              <th>Valor</th>
            </tr>
          </thead>
      
          <tbody>
            {{ range $transaction := .XPTransactions }}
            <tr>
              <td style="white-space: nowrap;">{{ formatTime $transaction.Time }}</td>
              <td style="font-size: 85%;">{{ xpTxDescription $transaction }}</td>
              <td style="white-space: nowrap;">{{ $transaction.Value }} XP</td>
            </tr>
            {{ end }}
          </tbody>
        </table>
        <p style="text-align: center;"><a class="pure-button" href="/xptx">Ver histórico completo</a></p>
        {{ if .Player.InGuild }}
        <h2>Recompensas por tipo</h2>
        <div class="pure-g">
          <div class="pure-u-1 pure-u-lg-1-2">
            <h3>Esta semana</h3>
            <div id="xpbreakdown-season" style="min-height: 200px;"></div>
          </div>
          <div class="pure-u-1 pure-u-lg-1-2">
            <h3>Desde sempre</h3>
            <div id="xpbreakdown-alltime" style="min-height: 200px;"></div>
          </div>
        </div>
        <h2>Está a ganhar mais pontos</h2>
        <p>Por participar no nosso servidor de Discord, receberá um bónus de 10% de XP com todas as viagens.</p>
        {{ else }}
        <h2>Junte-se a nós e ganhe mais pontos</h2>
        <p>Junte-se ao servidor de Discord do UnderLX e ganhe um bónus de 10% de XP com todas as viagens.</p>
        <p>
          <a class="discord-widget" href="https://perturbacoes.pt/discord" title="Junte-se a nós no Discord" target="_blank" rel="noopener">
            <img src="https://discordapp.com/api/guilds/334423823552217090/embed.png?style=banner2&uuid={{ uuid }}" style="border-radius: 5px;">
          </a>
        </p>
        {{ end }}
      </div>
    </div>
  </div>

  {{define "xpTxCategoryToString"}}
  {{ if eq . "TRIPS"}}'Viagens'
  {{ else if eq . "DISCORD_EVENTS"}}'Eventos no Discord'
  {{ else if eq . "DISCORD_PARTICIPATION"}}'Participação no Discord'
  {{ else if eq . "ACHIEVEMENTS"}}'Proezas'
  {{ else if eq . "OTHER"}}'Outros'
  {{else}}'{{.}}'{{end}}
  {{end}}
  <script type="text/javascript">
  var seasonXPchart = c3.generate({
    bindto: '#xpbreakdown-season',
    data: {
        columns: [
            {{ range $xpInfo := .XPBreakdownSeason}}
            [{{ template "xpTxCategoryToString" $xpInfo.Type }}, {{ $xpInfo.Value}}],
            {{end}}
        ],
        type : 'pie',
    },
    pie: {
      label: {
        show: false
      }
    },
    tooltip: {
      format: {
        value: function (value, ratio, id, index) { return value + " XP"; }
      }
    }
  });
  var alltimeXPchart = c3.generate({
    bindto: '#xpbreakdown-alltime',
    data: {
        columns: [
            {{ range $xpInfo := .XPBreakdownAllTime}}
            [{{ template "xpTxCategoryToString" $xpInfo.Type }}, {{ $xpInfo.Value}}],
            {{end}}
        ],
        type : 'pie'
    },
    pie: {
      label: {
        show: false
      }
    },
    tooltip: {
      format: {
        value: function (value, ratio, id, index) { return value + " XP"; }
      }
    }
  });
  </script>
{{template "footer.html" . }}