<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .PageTitle }}</title>
  <meta name="author" content="Segvault"/>

  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/posplay-180.png">
  <link rel="icon" type="image/png" href="/static/img/posplay-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/img/posplay-16.png" sizes="16x16">
  <link rel="shortcut icon" href="/static/img/posplay-favicon.ico">
  <meta name="theme-color" content="#0078e7">
  
  <meta name="title" content="{{ .PageTitle }}">
  <meta name="description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ .PageTitle }}">
  <meta property="og:description" content="O jogo em que utilizadores do UnderLX competem para tentar acumular o máximo de pontos.">
  <meta property="og:image" content="https://posplay.underlx.com/static/img/posplay-preview.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{{ .PageTitle }}">
  <meta property="twitter:description" content="O jogo em que utilizadores do UnderLX competem para tentar acumular o máximo de pontos.">
  <meta property="twitter:image" content="https://posplay.underlx.com/static/img/posplay-preview.png">

  <!-- Pure CSS -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
  <!--<![endif]-->

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">

  <link rel="stylesheet" type="text/css" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css">

  <link href="https://unpkg.com/c3@0.4.18/c3.min.css" rel="stylesheet">
  <script src="https://unpkg.com/d3@3.5.17/d3.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/cal-heatmap@3.6.2/cal-heatmap.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/c3@0.4.18/c3.min.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/cal-heatmap@3.6.2/cal-heatmap.css"> 

  <link rel="stylesheet" type="text/css" href="/static/css/custom.css?v=14"/>

  <style>
  html, body {
    height: 100%;
  }
  body {
    background-image: url(/static/img/bg-posplay.svg);
    background-position: center 400px;
    background-repeat: repeat-x;
    background-size: auto 600px;
    display: flex;
    flex-direction: column;
  }
  .widecontent {
    background-color: rgba(255, 255, 255, 0.85);
  }
  .content {
    background-color: rgba(255, 255, 255, 0.85);
  }
  .contentcontainer {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }
  </style>
</head>

<body>
  <div class="header">
    <div class="pure-g">
      {{ if (and .Session .UserInfoInHeader) }}
      <a href="/" class="pure-u-14-24 pure-u-sm-1-1 pure-u-md-14-24 pure-u-lg-17-24 pure-u-xl-16-24 headerItem" style="color: inherit;">
        <img src="/static/img/posplay-64.png" style="height: 44px; float: left; margin-left: 3px;"><span class="headerTitle">UnderLX PosPlay</span>
      </a>
      <a href="/" class="pure-u-5-24 pure-u-sm-1-2 pure-u-md-6-24 pure-u-lg-4-24 pure-u-xl-4-24 headerItem">
        <div>
          <img src="{{ .AvatarURL }}" style="height: 32px; border-radius: 50%; vertical-align: middle;">
          <span class="headerItemText" style="vertical-align: middle; text-align: left;">
            <strong>{{ .Player.CachedName }}</strong><br>
            <span style="font-size: 80%"><strong>{{ .XP }} XP</strong> - Nível <strong>{{ .Level }}</strong></span>
          </span>
        </div>
      </a>
      {{ else }}
      <a href="/" class="pure-u-19-24 pure-u-sm-1-2 pure-u-md-20-24 pure-u-lg-21-24 pure-u-xl-20-24 headerItem" style="color: inherit;">
        <img src="/static/img/posplay-64.png" style="height: 44px; float: left; margin-left: 3px;"><span class="headerTitle">UnderLX PosPlay</span>
      </a>
      {{end}}
      {{ if .Session }}
      <form method="POST" action="/logout" class="pure-u-5-24 pure-u-sm-1-2 pure-u-md-4-24 pure-u-lg-3-24 pure-u-xl-4-24">
        {{ .CSRFfield }}
        <button type="submit" class="headerItem" style="display: block; border: none; padding: 0!important; width: 100%; height: 100%;">
          <div><i class="fa fa-sign-out" aria-hidden="true"></i> <span class="headerItemText">Terminar sessão</span></div>
        </button>
      </form>
      {{ else }}
      <a href="/login" class="pure-u-5-24 pure-u-sm-1-2 pure-u-md-4-24 pure-u-lg-3-24 pure-u-xl-4-24 headerItem">
        <div><i class="fa fa-sign-in" aria-hidden="true"></i> <span class="headerItemText">Iniciar sessão pelo Discord</span></div>
      </a>
      {{end}}
    </div>
  </div>
  <div class="contentcontainer">