{{template "header.html" . }}
  <div class="widecontent">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3" style="text-align: center;">
          {{template "sidebar.html" . }}
      </div>
      <div class="pure-u-1 pure-u-md-2-3">
        <h1>Definições</h1>
        {{ if .SavedSettings }}
        <aside><p>Definições guardadas.</p></aside>
        {{ end }}
        <form class="pure-form" method="POST">
          {{ .CSRFfield }}
          <h2>Nome</h2>
          <p>Escolha o nome com que pretende aparecer no PosPlay:</p>
          <label for="name-username-discriminator" class="pure-radio">
              <input id="name-username-discriminator" type="radio" name="name-preference" value="username-discriminator" {{ if eq .Player.NameType "USERNAME_DISCRIM" }}checked{{end}}>
              Nome de utilizador e tag: {{ getDisplayNameFromNameType "USERNAME_DISCRIM" .Session.DiscordInfo .GuildMember }}
          </label>

          <label for="name-username" class="pure-radio">
              <input id="name-username" type="radio" name="name-preference" value="username" {{ if eq .Player.NameType "USERNAME" }}checked{{end}}>
              Nome de utilizador: {{ getDisplayNameFromNameType "USERNAME" .Session.DiscordInfo .GuildMember }}
          </label>

          <label for="name-nickname" class="pure-radio">
              <input id="name-nickname" type="radio" name="name-preference" value="nickname" {{ if not .Player.InGuild }}disabled{{end}} {{ if eq .Player.NameType "NICKNAME" }}checked{{end}}>
              {{ if .Player.InGuild }}
              Nickname no servidor do UnderLX: {{ getDisplayNameFromNameType "NICKNAME" .Session.DiscordInfo .GuildMember }}
              {{ else }}
              Nickname no servidor do UnderLX
              {{end}}
          </label>
  
          {{ if not .Player.InGuild }}
            <p>Pode usar um outro nome à sua escolha, juntando-se <a href="/discord">ao nosso servidor no Discord</a> e definindo um nickname específico do servidor. Depois, actualize esta página, e o nickname irá surgir como opção.</p>
          {{end}}
          <h2>Privacidade</h2>
          <h3>Perfil</h3>
          <label for="profileprivacy-public" class="pure-radio">
              <input id="profileprivacy-public" type="radio" name="profileprivacy-preference" value="public" {{ if eq .Player.ProfilePrivacy "PUBLIC" }}checked{{end}}>
              Mostrar o meu perfil a qualquer visitante
          </label>
          <label for="profileprivacy-players-only" class="pure-radio">
              <input id="profileprivacy-players-only" type="radio" name="profileprivacy-preference" value="players-only" {{ if eq .Player.ProfilePrivacy "PLAYERS_ONLY" }}checked{{end}}>
              Mostrar o meu perfil apenas a outros jogadores do PosPlay
          </label>
          <label for="profileprivacy-private" class="pure-radio">
              <input id="profileprivacy-private" type="radio" name="profileprivacy-preference" value="private" {{ if eq .Player.ProfilePrivacy "PRIVATE" }}checked{{end}}>
              Ocultar o meu perfil
          </label>
          <h3>Tabelas de classificação</h3>
          <label for="lbprivacy-public" class="pure-radio">
              <input id="lbprivacy-public" type="radio" name="lbprivacy-preference" value="public" {{ if eq .Player.LBPrivacy "PUBLIC" }}checked{{end}}>
              Mostrar o meu nome em tabelas de classificação
          </label>
          <label for="lbprivacy-private" class="pure-radio">
              <input id="lbprivacy-private" type="radio" name="lbprivacy-preference" value="private" {{ if eq .Player.LBPrivacy "PRIVATE" }}checked{{end}}>
              Ocultar o meu nome em tabelas de classificação
          </label>

          <h2>Notificações</h2>
          <p>Escolha como quer ser notificado dos seus progressos no jogo:</p>
          {{ if not .HasPair }}
          <p><strong>Atenção:</strong> as notificações na aplicação não irão funcionar enquanto não <a href="/posplay/pair">associar um dispositivo</a>.</p>
          {{end}}
          <table class="pure-table">
              <thead>
                  <tr>
                      <th></th>
                      {{ range $method := .NotifMethods }}
                      <th>{{ nameForNotificationMethod $method }}</th>
                      {{end}}
                  </tr>
              </thead>
          
              <tbody>
                  {{ range $type := .NotifTypes }}
                  <tr>
                      <td>{{ nameForNotificationType $type }}</td>
                      {{ range $method := $.NotifMethods }}
                      <td><input id="notif-{{ $type }}-{{ $method }}" name="notif-{{ $type }}-{{ $method }}" type="checkbox"
                        {{if index $.NotifSettings $type $method }}checked{{end}}></td>
                      {{end}}
                  </tr>
                  {{end}}
              </tbody>
          </table>
          <p><button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Guardar</button></p>
        </form>
      </div>
    </div>
  </div>
{{template "footer.html" . }}