.header {
  margin-bottom: 50px;
}

.content {
  max-width: 650px;
  padding-left:5px;
  padding-right: 5px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  font-size: 87.5%;
  border-top: 1px solid #eee;
  margin-top: 3.4286em;
  padding: 1.1429em;
  background: rgb(245, 245, 245);
  color: #777;
}
.pure-g [class*=pure-u] {
  font-family: 'Roboto';
}
.pure-g [class*=pure-u].ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.unitlink {
  text-transform: none;
  text-align: right;
}
.unitlink > a {
  color: #777;
}

.permalink {
  float: right;
}

.permalink > a {
  color: #777;
  font-size: 80%;
}

.status {
  font-size: 130%;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
}

.line {
  color: white;
  text-decoration: none;
}

.dimmed {
  background: linear-gradient(90deg,
    rgba(0, 0, 0, 0), 
    rgba(0, 0, 0, 0.5)
  );
}

.status.problem {
  color: red;
}
.status.ok {
  color: limegreen;
}

th.smallhead {
  font-size: 80%;
}
th.tinyhead {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
table.tinycells > tbody > tr > td {
  padding-left: 0;
  padding-right: 0;
}

.sixStyle {
  position:relative;
  display:inline-block;
  white-space: pre; /* to preserve the spaces from collapsing */
}
.sixStyle:before {
  display:block;
  z-index:1;
  position:absolute;
  top:0;
  left:0;
  width: 50%;
  content: attr(data-content); /* dynamic content for the pseudo element */
  overflow:hidden;
  color: #e0e0e0;
}

.hideOnLarge {
  display: block;
}

@media screen and (min-width: 48em) {
  .hideOnLarge {
    display: none;
  }
}

.hideOnMediumOrSmaller {
  display: none;
}

.headerSocial {
  display: none;
}
.headerSmallSocial {
  display: block;
  position: relative;
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  background-color: #eee;
}

@media screen and (min-width: 64em) {
  .hideOnMediumOrSmaller {
    display: block;
  }
  
  .headerSocial {
    box-sizing: border-box;
    border-left: 1px #777 solid;
    height: 44px;
  }
  
  .headerSmallSocial {
    display: none;
  }
}

.hideOnSmallOrSmaller {
  display: none;
}

.showOnSmallOrSmaller {
  display: block;
}

@media screen and (min-width: 35.5em) {
  .hideOnSmallOrSmaller {
    display: block;
  }
  .showOnSmallOrSmaller {
    display: none;
  }
}

.headerItem {
  position: relative;
  text-align: center;
  background-color: #eee;
  color: inherit;
  box-sizing: border-box;
  /*border-right: 1px #777 solid;
  padding-right: 1px;*/
  min-height: 44px;
  text-decoration: none !important;
}

.headerItem:hover {
  background-color: #ccc !important;
}

.headerItem div {
  width: 100%; position: absolute; top: 50%; transform: translate(0, -50%);
}

.headerItemText {
  display: none;
}

.headerItem .fa {
  font-size: 130%;
}

@media screen and (min-width: 35.5em) {
  .headerItemText {
    display: inline;
  }
  .headerItem .fa {
    font-size: 100%;
  }
}

.headerTitle {
  font-size: 130%;
  padding: 10px;
  float: left;
}

@media screen and (max-width: 35.5em) {
  .headerTitle {
    display: none;
    font-size: 130%;
    padding: 10px;
  }
  .headerLogo {
    box-sizing: border-box;
    border-right: 1px #777 solid;
    padding-right: 1px;
    height: 44px;
    width: 45px;
  }
}

@media screen and (max-width: 35.5em) {
  .pure-table {
    font-size: 80%;
  }
}

@media screen and (max-width: 25em) {
  .pure-table {
    font-size: 70%;
  }
}

@media screen and (max-width: 17.5em) {
  .pure-table {
    font-size: 60%;
  }
}

@keyframes blink {
  0% { opacity: 1 }
  50% { opacity: 0.5 }
  100% { opacity: 1 }
}
@-webkit-keyframes blink {
    0% { opacity: 1 }
    50% { opacity: 0.5 }
    100% { opacity: 1 }
}

.errorblink {
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -moz-animation:blink normal 1.5s infinite ease-in-out;
  /* Firefox */
  -webkit-animation:blink normal 1.5s infinite ease-in-out;
  /* Webkit */
  -ms-animation:blink normal 1.5s infinite ease-in-out;
  /* IE */
  animation:blink normal 1.5s infinite ease-in-out;
}

.app-promo {
  background-color: rgb(245, 245, 245);
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.app-promo img {
  max-width: 100%;
  max-height: 90px;
  margin-top: 3px;
}

/* heatmap */
.cal-heatmap-container .q0.q1
{
  fill: #ededed;
}

.cal-heatmap-container .q1
{
  background-color: #FFAAAA;
  fill: #FFAAAA
}

.cal-heatmap-container .q2
{
  background-color: #D46A6A;
  fill: #D46A6A
}

.cal-heatmap-container .q3
{
  background-color: #AA3939;
  fill: #AA3939
}

.cal-heatmap-container .q4
{
  background-color: #801515;
  fill: #801515
}

.cal-heatmap-container .q5
{
  background-color: #550000;
  fill: #550000
}

h1 > small {
  font-size: 50%;
  display: inline-block;
}

.forceSmallHeaders > h2 {
  font-size: 1em;
}

aside {
  background: #1f8dd6;
  padding: 0.3em 1em;
  border-radius: 3px;
  color: #fff;
  display: block;
}

ul.pt-ml-line {
  position: relative;
  display: block;
  padding-left: 0;
  width: 16px;
  border-radius: 8px;
  margin-left: 1em;
}

.pt-ml-line > li {
  position: relative;
  display: inline-block;
  left: 28px;
  margin-top: 1em;
  white-space: nowrap;
}

.pt-ml-line > li:first-of-type {
  margin-top: 0;
}

.pt-ml-line > li::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -25px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 5px;
}

.pt-ml-line > li > a {
  color: inherit;
  text-decoration: none;
}

.pt-ml-line > li > .station-features > i:first-of-type {
  border-left: 1px solid #777;
  padding-left: 4px;
}
.pt-ml-line > li > .station-features > i {
  color: #5091CD;
}

.top-link {
  color: #777;
  font-size: 12px;
}

.top-link:after {
  font-family: FontAwesome;
  content: "\f176";
  padding-left: 5px;
  display: inline-block;
  text-decoration: none;
}

.lineHeaderTraditional {
  display: none;
}
.lineHeaderComplete {
  display: block;
}
@media screen and (max-width: 35.5em) {
  .lineHeaderTraditional {
    display: block;
  }
  .lineHeaderComplete {
    display: none;
  }
}

.disturbance-note {
  font-family: "Georgia", serif;
  color: #666;
  font-style: italic;
  line-height: 1.8;
  border-left: 5px solid #ddd;
  padding-left: 1.5em;
}

.disturbance-note-title {
  display: block;
  font-family: 'Roboto', sans-serif;
  color: #666;
  font-style: normal;
  font-weight: bold;
  font-size: 80%;
  line-height: 1;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
