{{template "header.html" . }}
  <div class="widecontent">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-3" style="text-align: center;">
          {{template "sidebar.html" . }}
      </div>
      <div class="pure-u-1 pure-u-md-2-3">
        <h1>Associação com dispositivo</h1>
        <p>Normalmente, os registos de viagem submetidos pela aplicação UnderLX são anónimos.
          Associar um dispositivo com a sua conta é necessário para que os registos de viagem
          passem a contribuir para a sua conta do PosPlay. Tal como antes, estes registos permanecerão
          confidenciais e a associação entre os dados submetidos pelo UnderLX no seu telemóvel e a sua
          conta do PosPlay servirá apenas para fins de atribuição de pontos (XP).</p>
        <p>Os dados continuarão a ser tratados exclusivamente pela equipa do UnderLX.
          Para mais informações, consulte a <a href="#">política de privacidade do PosPlay</a>.</p>
      </div>
    </div>
  </div>
{{template "footer.html" . }}