{{template "header.html" . }}
  <div class="content">
    <div class="pure-g">
      <div class="pure-u-1">
        <h1>Política de Privacidade</h1>
        <p><strong>Última alteração: 15 de Setembro de 2018</strong></p>
        <p>Esta Política de Privacidade é uma adenda da <a href="/privacy">
          Política de Privacidade geral do UnderLX</a>. Esta Política de
          Privacidade define as divergências entre a forma de tratamento das
          informações disponibilizadas pelos Utilizadores do Serviço
          <strong>PosPlay</strong> ("Serviço") e das
          disponibilizadas pelos restantes Utilizadores do Website e da
          Aplicação.</p>
        <p>Por respeitarmos as regras de privacidade e proteção de dados
          pessoais, elaborámos este documento, de forma a que possa tomar
          conhecimento da forma como as informações disponibilizadas por si, o
          Utilizador, serão tratadas pela Equipa e seus sistemas de
          informação.</p>
        <p>Por favor, leia cuidadosamente esta Política de Privacidade, pois ao
          utilizar o Serviço, a disponibilização de dados implica o conhecimento
          e aceitação das condições aqui constantes. A Equipa reserva-se ao
          direito de alterar esta Política de Privacidade, pelo que recomendamos
          a leitura regular deste documento.</p>
        <p>Este documento está estruturado de forma a responder às seguintes
          questões:</p>
        <ol>
          <li><a href="#q1">Que dados são recolhidos sobre os Utilizadores?</a></li>
          <li><a href="#q2">Quando e como recolhemos dados sobre os Utilizadores?</a></li>
          <li><a href="#q3">Quem é responsável pela recolha e tratamento dos dados?</a></li>
          <li><a href="#q4">Por quanto tempo conservamos os dados?</a></li>
          <li><a href="#q5">O Website utiliza <em>cookies</em>?</a></li>
          <li><a href="#q6">Como é que a informação recolhida é utilizada?</a></li>
          <li><a href="#q7">Que procedimentos de segurança estão associados à Aplicação e ao Website, que garantam aos Utilizadores a proteção dos seus dados contra acesso e alteração indevidos?</a></li>
          <li><a href="#q8">De que forma podem os Utilizadores consultar, corrigir ou eliminar as informações que facultaram previamente através da Aplicação?</a></li>
          <li><a href="#q9">Outras questões várias que deverá ter conhecimento sobre a nossa política de privacidade.</a></li>
        </ol>
        <p>Esta Política de Privacidade, que é uma adenda à Política de
          Privacidade geral do UnderLX e que sobrepõe àquela, reproduz de forma
          fiel a política de privacidade seguida pelo Serviço. Se tiver qualquer
          dúvida sobre alguns dos pontos aqui apresentados, poderá comunicar
          connosco por email através do endereço
          <strong><a href="mailto:underlx@tny.im">underlx@tny.im</a></strong>.</p>
        <h3><a id="q1">1. Que dados são recolhidos sobre os Utilizadores?</a></h3>
        <p>A autenticação no Serviço é feita mediante o serviço
          "<a href="http://discordapp.com/">Discord</a>", disponibilizado por
          terceiros (Discord Inc.). Deste serviço, a Equipa recolhe as seguintes
          informações sobre o Utilizador:</p>
        <ul>
            <li>Número de identificação do utilizador no Discord (também
              utilizado internamente pelo Serviço como número de
              identificação do Utilizador);</li>
            <li>Nome de utilizador no Discord;</li>
            <li>Se o Utilizador está ou não presente no grupo de Discord operado
              pela Equipa;</li>
            <li>Nome que o Utilizador usa no grupo de Discord operado pela
              Equipa;</li>
            <li><em>Avatar</em> do utilizador no Discord.</li>
        </ul>
        <p>Ao vincular um dispositivo com a conta que o Utilizador tem no
          Serviço, e que é criada aquando da primeira autenticação no Serviço
          (através do Discord), o Utilizador está a associar o número de
          identificação pseudoaleatório, que identifica os dados submetidos pela
          Aplicação instalada nesse dispositivo, com o seu número de
          identificação no Discord e Serviço. Os dados submetidos pela
          Aplicação nesse dispositivo deixam assim de ser completamente
          anónimos.</p>
        <p>O Serviço passa, assim, a ter acesso aos registos de viagem do
          Utilizador da Aplicação.</p>
        <h3><a id="q2">2. Quando e como recolhemos dados sobre os Utilizadores?</a></h3>
        <p>O Serviço recolhe dados sobre os Utilizadores quando estes iniciam
          sessão no Serviço através do Discord. Estes dados são actualizados
          sempre que os utilizadores iniciam sessão ou alteram as definições da
          sua conta no Serviço.</p>
        <p>O Serviço analisa e regista ainda a informação contida nos registos
          de viagem submetidos pela Aplicação, aquando da sua submissão.</p>
        <h3><a id="q3">3. Quem é responsável pela recolha e tratamento dos dados?</a></h3>
        <p>A Equipa é o único responsável pela recolha e tratamento de dados dos
          Utilizadores, conforme submetidos pela Aplicação e conforme obtidos
          a partir do Discord.</p>
        <p>Os registos individuais de viagem e outros dados relativos à
          localização dos utilizadores nunca serão tornados públicos,
          partilhados ou vendidos a outras entidades.</p>
        <h3><a id="q4">4. Por quanto tempo conservamos os dados?</a></h3>
        <p>Os dados mantidos pelo Serviço relativamente ao progresso no jogo,
          são mantidos por tempo indeterminado. O número de identificação do
          Utilizador no Discord e Serviço é mantido por tempo indeterminado. O
          nome de utilizador no Discord é mantido por tempo indeterminado, sendo
          actualizado aquando da autenticação no Serviço, não sendo mantido o
          histórico do mesmo.
        </p>
        <h3><a id="q5">5. O Website utiliza <em>cookies</em>?</a></h3>
        <p>O Website utiliza <em>cookies</em> para conservar a sessão do
          utilizador conforme este navega pelas várias páginas do Serviço,
          permitindo assim a sua autenticação sem necessidade de contactar o
          Discord de cada vez que o Utilizador navega para uma página
          diferente.</p>
        <p><em>Cookies</em> são pequenos segmentos de informação enviados pelos
          servidores de sítios Web, que ficam registados no browser dos
          visitantes, e que são posteriormente enviados pelo browser aquando do
          acesso aos sítios Web que os enviaram.</p>
        <p>A Equipa não é responsável pelos <em>cookies</em> produzidos pelos
          elementos externos, nomeadamente a página de autenticação do Discord,
          sendo a responsabilidade do seu funcionamento exclusiva dos
          serviços associados.</p>
        <h3><a id="q6">6. Como é que a informação recolhida é utilizada?</a></h3>
        <p>A informação recolhida serve os seguintes propósitos:</p>
        <ul>
          <li>Apresentar um nome e imagem para o Utilizador no website do
            Serviço, quando este inicia sessão, bem como nas tabelas de
            classificação, quando as definições do Utilizador assim o
            permitem;</li>
          <li>Atribuir recompensas no jogo, sob a forma de pontos ("XP"), pelas
            viagens realizadas pelo Utilizador e por outras acções realizadas
            na Aplicação;</li>
          <li>Validar a conclusão no jogo de Proezas e Desafios;</li>
          <li>Informar os Utilizadores do Serviço de eventuais alterações ou
            problemas detectados com as suas contas no Serviço;</li>
          <li>Melhorar o Serviço e as suas funcionalidades.</li>
        </ul>
        <p>Os dados fornecidos pelos Utilizadores serão usados exclusivamente no
          âmbito do jogo promovido pelo Serviço, para fins ligados ao
          funcionamento do Serviço e da Aplicação, bem como à produção de
          relatórios informativos e tabelas de classificação. Nenhuma da
          informação fornecida irá ser vendida, alugada ou partilhada com
          terceiros. Não iremos proceder à publicação de dados que permitam
          identificar utilizadores individuais a partir dos seus padrões de
          utilização de Transporte Público.</p>
        <h3><a id="q7">7. Que procedimentos de segurança estão associados ao Serviço, que garantam aos Utilizadores a proteção dos seus dados contra acesso e alteração indevidos?</a></h3>
        <p>A Equipa toma todas as precauções necessárias para que os dados
          recolhidos através da utilização do Serviço, e
          informações extraídas dos mesmos, sejam mantidos em segurança durante
          a sua transmissão e armazenamento.</p>
        <p>No que toca à utilização do Website do Serviço, os Utilizadores têm a
          opção de lhe aceder através de uma ligação que utilize o protocolo
          HTTP sobre o protocolo SSL (HTTPS), permitindo este último protocolo
          que os dados sejam transmitidos cifrados, de forma a garantir a sua
          confidencialidade e integridade, e que a autenticidade do servidor
          possa ser verificada. Anula-se, assim, o risco de interceção ou
          manipulação de dados durante o transporte.</p>
        <p>A Equipa compromete-se a manter a configuração do protocolo SSL nos
          seus servidores atualizada de acordo com as melhores práticas
          internacionais.</p>
        <p>Sobre a proteção dos dados contra acesso e alteração indevida, tanto
          todos os sistemas relativos ao Serviço foram desenhados de forma a
          impedir a libertação de dados mais sensíveis, nomeadamente registos de
          viagem.</p>
        <p>A Equipa não se responsabiliza por eventuais danos decorrentes de
          proteção insuficiente dos aparelhos onde a Aplicação esteja instalada
          ou onde o Utilizador proceda à utilização do Serviço, e que permitam a
          obtenção ou manipulação de informação sensível, ou das credenciais
          de autenticação. A Equipa também não se responsabiliza por eventuais
          falhas de segurança em serviços externos, nomeadamente o Discord.</p>
        <p>Se tiver qualquer dúvida relativa à segurança dos dados ou dos
          sistemas como um todo, ou para reportar vulnerabilidades de segurança,
          poderá contactar a nossa equipa de segurança por email através do
          endereço
          <strong><a href="mailto:security@tny.im">security@tny.im</a></strong>.</p>
        <h3><a id="q8">8. De que forma podem os Utilizadores consultar, corrigir ou eliminar as informações que facultaram previamente através do Serviço?</a></h3>
        <p>Os utilizadores que desejem proceder à correção de informações
          fornecidas e que não possam ser corrigidas através do Serviço ou do
          Discord, ou que desejem encerrar a sua conta, devem entrar em contacto
          com a Equipa através do endereço
          <strong><a href="mailto:underlx@tny.im">underlx@tny.im</a></strong>.</p>
        <h3><a id="q9">9. Outras questões várias que deverá ter conhecimento sobre a nossa política de privacidade.</a></h3>
        <h4>Hiperligações (<em>Links</em>)</h4>
        <p>O serviço contém hiperligações (<em>links</em>) para outros
          <em>sites</em> externos, que estão regidos por outras políticas
          de privacidade. A Equipa não é responsável pelas políticas de
          privacidade desses mesmos <em>sites</em> nem pela sua atividade.
          Recomendamos que os utilizadores do Serviço consultem as políticas de
          privacidade próprias dos <em>sites</em> externos. A Política de
          Privacidade aqui descrita apenas se aplica ao Serviço.</p>
        <h4>Alteração de Condições de Utilização da Aplicação e Website</h4>
        <p>Sempre que as Condições de Utilização ou Política de Privacidade do
          Serviço forem alteradas, a Equipa irá informar os seus
          Utilizadores através de mensagens no próprio Serviço.</p>
        <h4>Autorização para Utilizações Diversas</h4>
        <p>Se a Equipa pretender utilizar os dados dos Utilizadores para fins
          distintos daqueles inicialmente propostos neste documento, solicitará
          uma nova autorização aos Utilizadores, através dos meios que julgar
          necessários.</p>
      </div>
    </div>
  </div>
{{template "footer.html" . }}