  <div class="footer">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <p>
            Este <em>website</em> não tem qualquer ligação à <em>Metropolitano de Lisboa, E.P.E.</em><br>
            Não podemos garantir a correcção da informação fornecida.<br>
            Só as autoridades competentes poderão fornecer dados oficiais.<br>
            {{ if .OfficialOnly }}
            <a class="pure-button" style="font-size: 80%;" href="?officialonly=false">Mostrar dados da comunidade de utilizadores</a>
            {{else}}
            <a class="pure-button" style="font-size: 80%;" href="?officialonly=true">Ocultar dados da comunidade de utilizadores</a>
            {{end}}
        </p>
      </div>
      <div class="pure-u-4-5 pure-u-md-1-2" style="padding-right: 5px; box-sizing: border-box;">
        <p style="text-align: right;">Código no <a href="https://github.com/underlx/disturbancesmlx">GitHub</a> | <a href="https://underlx.com/terms">Termos e Condições</a> | <a href="https://underlx.com/privacy">Política de Privacidade</a> | <a href="https://underlx.com/contact">Contactos</a></p>

        <p style="text-align: right;">
            Copyright © 2017-2023 <strong>A Equipa do UnderLX</strong><br>Um projecto da <a href="http://segvault.tny.im" target="_blank" rel="noopener"><img src="/static/img/segvault-16.png" alt="Segvault"></a>
        </p>
      </div>
      <div class="pure-u-1-5 hideOnLarge">
        <div class="addthis_inline_share_toolbox" style="float: right;"></div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4db86d9c0ef1e792"></script> 
</body>
</html>