{{template "header.html" . }}
  <style>
    .line-etas-table > * > tr > td {
      padding-left: 8px;
      padding-right: 8px;
    }
    .line-etas-table > tbody > tr > td:nth-child(1) {
      padding-right: 0;
      text-align: right;
      font-size: 80%;
    }
    .line-etas-table > tbody > tr > td:nth-child(2) {
      text-align: right;
      border-left: 1px transparent;
    }
    .line-etas-table > tbody > tr > td:nth-child(3) {
      text-align: center;
    }
    .line-etas-table > tbody > tr > td:nth-child(3) > a {
      font-weight: bold;
      text-decoration: none;
      color: inherit;
    }
    .line-etas-table > tbody > tr > td:nth-child(5) {
      border-left: 1px transparent;
      padding-left: 0;
      font-size: 80%;
    }
    .cleanlink {
      text-decoration: none;
      color: inherit;
    }
  </style>
  <div class="content"  style="max-width: 910px;">
    <div class="pure-g">
      <div class="pure-u-1">
        <h1>Observatório</h1>
        <noscript>
          <aside style="margin-bottom: 1em;"><p>Esta página requer a execução de JavaScript para funcionar.</p></aside>
        </noscript>
        <div style="text-align: center;">
          {{ range $line := .NetworkLines }}
          <a style="margin-bottom: 0.5em; background-color: #{{ $line.Color }}; color: #fff;" class="pure-button" href="#line:{{ $line.ID }}">Linha {{ $line.Name }}</a>
          {{end}}
          <a style="margin-bottom: 0.5em;" class="pure-button" href="#positions">Localização dos comboios</a>
        </div>
      </div>
      {{ range $line := .NetworkLines }}
      <div class="pure-u-1-1 pure-u-md-1-2" class="line-section">
        <h2 id="line:{{ $line.ID }}">Linha <a href="/l/{{ $line.ID }}" style="color: #{{ $line.Color }}" class="cleanlink">{{ $line.Name }}</a></h2>
        {{ $condition := index $.LineConditions $line }}
        {{ if $condition.TrainFrequency }}
        <p>Intervalo planeado entre comboios: {{ formatTrainFrequency $condition.TrainFrequency }}<sup> <a class="cleanlink" href="#footnote-1">[1]</a></sup></p>
        <p>Número planeado de carruagens por comboio: {{ $condition.TrainCars }}<sup> <a class="cleanlink" href="#footnote-1">[1]</a></sup></p>
        {{end}}
        <h3>Tempos de espera</h3>
        {{ $lineStations := index $.LineStations $line }}
        {{ $firstStation := index $lineStations 0 }}
        {{ $lastStation := index $lineStations (minus (len $lineStations) 1) }}
        <table class="pure-table pure-table-bordered line-etas-table" style="width: 95%;">
          <thead>
            <tr>
              <td style="text-align: right;" colspan="2"><small>Sentido</small><br>{{ $firstStation.Name }}</td>
              <td style="text-align: center;">Estação</td>
              <td colspan="2"><small>Sentido</small><br>{{ $lastStation.Name }}</td></tr>
          </thead>
          <tbody>
            {{ range $station := $lineStations }}
            <tr>
              <td class="vehicle-pos" id="pos_{{ $station.ID }}_{{ $firstStation.ID }}"></td>
              <td {{ if index $.ClosedStations $station.ID }} style="text-decoration: line-through" {{end}} id="eta_{{ $station.ID }}_{{ $firstStation.ID }}"></td>
              <td><a href="/s/{{ $station.ID }}" {{ if index $.ClosedStations $station.ID }} style="text-decoration: line-through" {{end}}>{{ $station.Name }}</a></td>
              <td {{ if index $.ClosedStations $station.ID }} style="text-decoration: line-through" {{end}} id="eta_{{ $station.ID }}_{{ $lastStation.ID }}"></td>
              <td class="vehicle-pos" id="pos_{{ $station.ID }}_{{ $lastStation.ID }}"></td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
      {{end}}
      <div class="pure-u-1-1">
        <p id="footnote-1"><sup>[1]</sup> Valores previstos pelo Metro para a hora de carregamento desta página.</p>
        <p id="footnote-2"><sup>[2]</sup> Comboio destinado à estação <a href="/s/pt-ml-cg">Campo Grande</a>.</p>
      </div>
      <div class="pure-u-1-1">
        <h2 id="positions">Localização dos comboios</h2>
        <p>Posições aproximadas obtidas com base nos tempos de espera.</p>
        <table class="pure-table" style="width: 100%">
          <thead><tr><td>Comboio</td><td>Destino</td><td>Troço</td><td>Posição no troço (%)</td></tr></thead>
          <tbody id="vehList">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    var mqttClient = mqtt.connect("{{ .MQTTaddress }}", {"username": "ws", "keepalive": 30});

    var stationInfo = {};
    var stationInfoReqInProgress = {};
    function getOrFetchStationInfo(id) {
      if (stationInfoReqInProgress[id] === true) {
        return stationInfo[id];
      }
      stationInfoReqInProgress[id] = true;
      let oReq = new XMLHttpRequest();
      oReq.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          stationInfo[id] = JSON.parse(this.responseText);
          updateVehiclesTable();
        }
      };
      oReq.open("GET", "https://api.perturbacoes.tny.im/v1/stations/" + id);
      oReq.setRequestHeader("Accept", "application/json");
      oReq.send();
      return stationInfo[id];
    }

    var positionData = [];
    function updateVehiclesTable() {
      let etasList = document.getElementById("vehList");
      let tableRows = etasList.getElementsByTagName("tr");
      while (tableRows[0]) {
        etasList.removeChild(tableRows[0]);
      }
      let isSpecial = function(v) {
        return v.length < 1 || (v[0] < '0' && v[0] > '9')
      }
      let extractLine = function(v) {
        if (v.length == 0) {
          return '';
        }
        if (isSpecial(v)) {
          return v.substring(0, 1)
        }
        return v.substring(v.length - 1, v.length)
      }
      let extractNumber = function(v) {
        if (v.length == 0) {
          return 0;
        }
        if (isSpecial(v)) {
          return +v.substring(1, v.length)
        }
        return +v.substring(0, v.length - 1)
      }
      positionData = positionData.sort((a, b) => {
        let av = a.vehicle;
        let bv = b.vehicle;
        if (isSpecial(av) && !isSpecial(bv)) {
          return -1;
        }
        if (!isSpecial(av) && isSpecial(bv)) {
          return 1;
        }
        if (extractLine(av) !== extractLine(bv)) {
          return extractLine(av).localeCompare(extractLine(bv));
        }
        return extractNumber(av) - extractNumber(bv);
      });

      let posCells = document.getElementsByClassName("vehicle-pos");
      for(cell of posCells) {
        cell.innerHTML = "";
      }

      for (eta of positionData) {
        let tr = document.createElement("tr");
        let vehtd = document.createElement("td");
        vehtd.innerHTML = eta.vehicle + " (" + eta.cars + " carr.)";
        tr.appendChild(vehtd);

        let dirtd = document.createElement("td");
        let dirInfo = getOrFetchStationInfo(eta.direction);
        let dirName = "<code>" + eta.direction + "</code>";
        if (dirInfo !== undefined) {
          dirName = dirInfo.name;
        }
        dirtd.innerHTML = dirName;
        tr.appendChild(dirtd);

        let conntd = document.createElement("td");
        let prevInfo = getOrFetchStationInfo(eta.prevStation);
        let prevStationName = "<code>" + eta.prevStation + "</code>";
        if (prevInfo !== undefined) {
          prevStationName = prevInfo.name;
        }
        let nextInfo = getOrFetchStationInfo(eta.nextStation);
        let nextStationName = "<code>" + eta.nextStation + "</code>";
        if (nextInfo !== undefined) {
          nextStationName = nextInfo.name;
        }
        if (eta.percent == 100) {
          conntd.innerHTML = nextStationName + " (cais <code>" + eta.platform + "</code>)";
        } else {
          conntd.innerHTML = prevStationName + " - " + nextStationName;
        }
        tr.appendChild(conntd);

        let pcttd = document.createElement("td");
        pcttd.innerHTML = eta.percent;
        tr.appendChild(pcttd);

        etasList.appendChild(tr);

        let dir = eta.direction;
        if (dir === "pt-ml-cg") {
          dir = "pt-ml-od"
        }

        let posCell = document.getElementById("pos_" + eta.nextStation + "_" + dir);
        posCell.innerHTML = eta.vehicle;
      }
    }

    function updateETAs(station, data) {
      for (eta of data) {
        if (eta.type != "e") {
          // only support exact ETAs for now
          continue;
        }

        let dir = eta.direction;
        if (dir === "pt-ml-cg") {
          dir = "pt-ml-od"
        }

        let td = document.getElementById("eta_" + station + "_" + dir);

        if (eta.value == 0) {
          td.innerHTML = "No cais";
        } else {
          var minutes = Math.floor(eta.value / 60);
          var seconds = eta.value - (minutes * 60);
          if (minutes < 10) {minutes = "0"+minutes;}
          if (seconds < 10) {seconds = "0"+seconds;}
          td.innerHTML = minutes+':'+seconds;
          if (eta.direction === "pt-ml-cg") {
            td.innerHTML += '<sup> <a class="cleanlink" href="#footnote-2">[2]</a></sup>';
          }
        }
      }
    }

    mqttClient.on('message', function (topic, message) {
      // message is Buffer
      if(topic === "json/vehiclepos") {
        positionData = JSON.parse(message.toString());
        updateVehiclesTable();
      } else if (topic.startsWith("json/vehicleeta/")) {
        let station = topic.substr(16);
        station = station.substr(station.indexOf("/")+1);
        station = station.substr(station.indexOf("/")+1);
        updateETAs(station, JSON.parse(message.toString()));
      }
    });

    mqttClient.on('connect', function () {
      mqttClient.subscribe("json/vehiclepos");
      mqttClient.subscribe("json/vehicleeta/pt-ml/+");
    });

  </script>
{{template "footer.html" . }}
