{{template "header.html" . }}
  <div class="content">
    <div class="pure-g">
      <div class="pure-u-1">
        <h1>Política de Privacidade</h1>
        <p><strong>Última alteração: 14 de Novembro de 2017</strong> |
          <a href="/privacy/en">English version</a></p>
        <p>A Equipa do UnderLX (“Equipa”) é um grupo de pessoas que opera de
          forma voluntária, a título individual e sem interesses comerciais, na
          área das Tecnologias de Informação. As atividades deste grupo têm
          especial foco na área do Transporte Público Urbano, procedendo-se
          assim a uma aplicação de conhecimentos e técnicas de Tecnologias de
          Informação em redes existentes de Transporte Público Urbano (“Redes de
          TP”).</p>
        <p>O objetivo da Equipa é conseguir, através da sua atividade, melhorar
          a experiência de utilização destas redes. Mais se acrescenta que este
          grupo não tem qualquer ligação oficial, apoio ou aval de qualquer
          empresa ou outra organização, incluindo operadores de Redes de TP.</p>
        <p>A Equipa é responsável pelo site <strong>perturbacoes.pt</strong>
          ("Website"), assim como pela aplicação <strong>UnderLX</strong>
          ("Aplicação"), e compromete-se a garantir a privacidade dos eventuais
          dados pessoais recolhidos e/ou transmitidos online. A segurança e a
          privacidade dos dados dos Utilizadores do Website e da Aplicação são
          preocupações centrais na atividade da Equipa.</p>
        <p>Por respeitarmos as regras de privacidade e proteção de dados
          pessoais, elaborámos este documento, de forma a que possa tomar
          conhecimento da forma como as informações disponibilizadas por si, o
          Utilizador, serão tratadas pela Equipa e seus sistemas de
          informação.</p>
        <p>Por favor, leia cuidadosamente esta Política de Privacidade, pois ao
          utilizar o Website ou a Aplicação, a disponibilização de dados implica
          o conhecimento e aceitação das condições aqui constantes. A Equipa
          reserva-se ao direito de alterar a sua Política de Privacidade, pelo
          que recomendamos a leitura regular deste documento.</p>
        <p>Este documento está estruturado de forma a responder às seguintes
          questões:</p>
        <ol>
          <li><a href="#q1">Que dados são recolhidos sobre os Utilizadores?</a></li>
          <li><a href="#q2">Quando e como recolhemos dados sobre os Utilizadores?</a></li>
          <li><a href="#q3">Quem é responsável pela recolha e tratamento dos dados?</a></li>
          <li><a href="#q4">Por quanto tempo conservamos os dados?</a></li>
          <li><a href="#q5">O Website utiliza <em>cookies</em>?</a></li>
          <li><a href="#q6">Como é que a informação recolhida é utilizada?</a></li>
          <li><a href="#q7">Que procedimentos de segurança estão associados à Aplicação e ao Website, que garantam aos Utilizadores a proteção dos seus dados contra acesso e alteração indevidos?</a></li>
          <li><a href="#q8">De que forma podem os Utilizadores consultar, corrigir ou eliminar as informações que facultaram previamente através da Aplicação?</a></li>
          <li><a href="#q9">Outras questões várias que deverá ter conhecimento sobre a nossa política de privacidade.</a></li>
        </ol>
        <p>Esta Política de Privacidade reproduz de forma fiel a política de
          privacidade seguida pela Aplicação e pelo Website. Se tiver qualquer
          dúvida sobre alguns dos pontos aqui apresentados, poderá comunicar
          connosco por email através do endereço
          <strong><a href="mailto:underlx@tny.im">underlx@tny.im</a></strong>.</p>
        <h3><a id="q1">1. Que dados são recolhidos sobre os Utilizadores?</a></h3>
        <p>Tanto a Aplicação como o Website evitam recolher dados sobre os
          Utilizadores sem a sua autorização explícita. Nesse sentido, o Website
          não recolhe informação sobre o browser, histórico de navegação ou
          ligação à internet dos Utilizadores, salvo quando tal seja necessário
          para fins de depuração de problemas ou limitação de acesso a
          Utilizadores abusivos, conforme definidos nos <a href="/terms">Termos
          e Condições</a>.</p>
        <p>Toda a informação submetida através da Aplicação não é associada a
          nenhum dado pessoal dos Utilizadores, já que este tipo de dados não é
          recolhido. Os dados recolhidos e submetidos pela Aplicação ficam
          associados a um número de identificação pseudoaleatório. Este número
          de identificação é atribuído automaticamente a cada Utilizador no ato
          da instalação da Aplicação. Caso o Utilizador deseje passar a submeter
          dados sob um identificador diferente, poderá fazê-lo através da
          reinstalação da aplicação.</p>
        <p>Os dados submetidos ao utilizar a Aplicação dependem das definições
          que o Utilizador tiver escolhido para a mesma. Assim, passamos a
          descrever todos os dados que os utilizadores possam eventualmente
          submeter: registos de viagem, comunicações de problemas em Redes de
          TP, e comunicação de erros ou sugestões relativas ao serviço prestado
          pela Aplicação e pelo Website.</p>
        <p>Ao nível dos registos de viagem, são recolhidos os seguintes dados:
          estações ou paragens visitadas em cada viagem, a ordem pela qual foram
          visitadas (isto é, o caminho seguido pelo Utilizador) e a hora de
          entrada e saída de cada estação ou paragem.</p>
        <p>Ao nível da comunicação de problemas em Redes de TP, os dados
          submetidos correspondem exatamente àqueles indicados pelos
          utilizadores no ato da comunicação, podendo eventualmente ser
          complementados pela indicação da localização atual do utilizador ao
          nível da estação ou paragem.</p>
        <h3><a id="q2">2. Quando e como recolhemos dados sobre os Utilizadores?</a></h3>
        <p>Conforme explicado no ponto anterior, o Website não recolhe dados
          sobre os Utilizadores, exceto quando tal seja necessário para fins de
          depuração de problemas ou limitação de acesso a Utilizadores
          abusivos.</p>
        <p>Nessas situações excecionais, a recolha de dados será transparente
          para o Utilizador, apenas ocorrendo nos nossos servidores, e apenas
          será realizada durante a utilização do Website. No caso de sessões de
          depuração, os dados serão descartados no fim da depuração. No caso de
          Utilizadores abusivos, os dados poderão ser conservados de forma
          segura e nunca tornados públicos, para referência futura.</p>
        <p>A Aplicação apenas recolhe dados mediante a sua utilização interativa
          por parte do Utilizador. Se, na Aplicação, a definição de localização
          em segundo plano estiver ativa, a Aplicação irá também recolher dados
          de forma automática, sem intervenção do utilizador, apenas quando este
          se encontrar a utilizar as Redes de TP indicadas pela Aplicação como
          suportadas, e se as restantes definições e características do aparelho
          onde a Aplicação está a ser executada assim o permitirem.</p>
        <p>Os dados recolhidos pela Aplicação serão submetidos ao longo da
          viagem e após a sua conclusão, ou guardados para submissão diferida,
          se uma ligação à internet não estiver disponível.</p>
        <h3><a id="q3">3. Quem é responsável pela recolha e tratamento dos dados?</a></h3>
        <p>A Equipa é o único responsável pela recolha e tratamento de dados dos
          Utilizadores, conforme submetidos pela Aplicação.</p>
        <p>Os registos individuais de viagem e outros dados relativos à
          localização dos utilizadores nunca serão tornados públicos,
          partilhados ou vendidos a outras entidades.</p>
        <h3><a id="q4">4. Por quanto tempo conservamos os dados?</a></h3>
        <p>Consoante o tipo de dados e a sua finalidade, estes podem ser
          conservados por períodos de tempo distintos, indo desde meros segundos
          até vários anos. No geral, quanto maior a granularidade dos dados,
          menor o tempo durante o qual estes serão conservados. Neste momento,
          os registos de viagem são conservados por tempo indefinido, podendo
          esta situação alterar-se quando os requisitos e procedimentos técnicos
          assim o permitirem.</p>
        <h3><a id="q5">5. O Website utiliza <em>cookies</em>?</a></h3>
        <p>O Website não utiliza <em>cookies</em> para prestar as suas
          funcionalidades essenciais. No entanto, para poder prestar um serviço
          mais personalizado aos Utilizadores, o Website tem incorporados
          elementos externos, nomeadamente, elementos de partilha nas redes
          sociais. Estes elementos externos poderão utilizar
          <em>cookies</em>.</p>
        <p><em>Cookies</em> são pequenos segmentos de informação enviados pelos
          servidores de sítios Web, que ficam registados no browser dos
          visitantes, e que são posteriormente enviados pelo browser aquando do
          acesso aos sítios Web que os enviaram.</p>
        <p>A Equipa não é responsável pelos <em>cookies</em> produzidos pelos
          elementos externos, sendo a responsabilidade do seu funcionamento
          exclusiva dos serviços associados.</p>
        <h3><a id="q6">6. Como é que a informação recolhida é utilizada?</a></h3>
        <p>A informação recolhida serve os seguintes propósitos:</p>
        <ul>
          <li>Melhorar os algoritmos de cálculo de percursos, tempos de percurso
            e custo de percurso;</li>
          <li>Possibilitar a localização mais eficaz dos veículos nas Redes de
            TP suportadas e o cálculo mais preciso de tempos de espera;</li>
          <li>Informar os Utilizadores da aplicação de eventuais problemas ou
            alterações nos serviços prestados pelos operadores das Redes de TP
            suportadas;</li>
          <li>Contribuir para um registo da utilização global das Redes de TP
            suportadas, à margem dos registos eventualmente publicados pelos
            operadores destas Redes;</li>
          <li>Melhorar a Aplicação e o Website e as suas funcionalidades.</li>
        </ul>
        <p>Os dados anónimos fornecidos pelos Utilizadores serão usados
          exclusivamente para fins ligados ao funcionamento da Aplicação e do
          Website, bem como à produção de relatórios informativos, a publicar no
          Website, através da análise de dados em massa. Nenhuma da informação
          fornecida irá ser vendida, alugada ou partilhada com terceiros. Não
          iremos proceder à publicação de dados que permitam identificar
          utilizadores individuais a partir dos seus padrões de utilização de
          Transporte Público.</p>
        <h3><a id="q7">7. Que procedimentos de segurança estão associados à Aplicação e ao Website, que garantam aos Utilizadores a proteção dos seus dados contra acesso e alteração indevidos?</a></h3>
        <p>A Equipa toma todas as precauções necessárias para que os dados
          recolhidos através da utilização da Aplicação e do Website, e
          informações extraídas dos mesmos, sejam mantidos em segurança durante
          a sua transmissão e armazenamento.</p>
        <p>No que toca à utilização do Website, os Utilizadores têm a opção de
          lhe aceder através de uma ligação que utilize o protocolo HTTP sobre o
          protocolo SSL (HTTPS), permitindo este último protocolo que os dados
          sejam transmitidos cifrados, de forma a garantir a sua
          confidencialidade e integridade, e que a autenticidade do servidor
          possa ser verificada. Anula-se, assim, o risco de interceção ou
          manipulação de dados durante o transporte.</p>
        <p>A Equipa compromete-se a manter a configuração do protocolo SSL nos
          seus servidores atualizada de acordo com as melhores práticas
          internacionais.</p>
        <p>Em relação à comunicação entre a Aplicação e os servidores da Equipa,
          a mesma realiza-se exclusivamente através do protocolo HTTPS descrito
          acima, verificando-se as mesmas propriedades e garantias.</p>
        <p>Sobre a proteção dos dados contra acesso e alteração indevida, tanto
          o Website como o servidor de suporte à Aplicação foram desenhados de
          forma a impedir a libertação de dados mais sensíveis, nomeadamente
          registos de viagem.</p>
        <p>Para submeter, aceder ou alterar registos de viagem, comunicações de
          problemas, ou outro tipo de dados que fiquem associados a uma
          instalação da Aplicação, esta autentica-se perante o servidor,
          tendo acceso apenas aos dados que dizem respeito a essa instância da
          Aplicação. Esta autenticação utiliza credenciais obtidas de forma
          segura aquando da instalação da Aplicação, através de ligação
          HTTPS.</p>
        <p>A Equipa não se responsabiliza por eventuais danos decorrentes de
          proteção insuficiente dos aparelhos onde a Aplicação esteja instalada,
          e que permitam a obtenção ou manipulação de informação sensível, ou
          das credenciais mencionadas.</p>
        <p>Se tiver qualquer dúvida relativa à segurança dos dados ou dos
          sistemas como um todo, ou para reportar vulnerabilidades de segurança,
          poderá contactar a nossa equipa de segurança por email através do
          endereço
          <strong><a href="mailto:security@tny.im">security@tny.im</a></strong>.</p>
        <h3><a id="q8">8. De que forma podem os Utilizadores consultar, corrigir ou eliminar as informações que facultaram previamente através da Aplicação?</a></h3>
        <p>Tendo em conta as condições de utilização da Aplicação e do Website,
          o Utilizador compromete-se a fornecer os seus registos de utilização
          para melhorar os serviços prestados pela Equipa. Os registos de viagem
          poderão ser corrigidos no final de cada viagem (se essa definição for
          ativada pelo Utilizador), ou até 7 dias após a sua conclusão, período
          após o qual a sua correção ficará bloqueada.</p>
        <p>Neste momento, a opção para apagar registos de viagem apenas apaga o
          registo na Aplicação, e não no servidor da Aplicação, pelo que se o
          utilizador pretender apagar dos registos da Equipa parte ou a
          totalidade das informações submetidas por ele, deverá contactar-nos
          através do endereço
          <strong><a href="mailto:underlx@tny.im">underlx@tny.im</a></strong>.</p>
        <h3><a id="q9">9. Outras questões várias que deverá ter conhecimento sobre a nossa política de privacidade.</a></h3>
        <h4>Hiperligações (<em>Links</em>)</h4>
        <p>A Aplicação e o Website contêm hiperligações (<em>links</em>) para
          outros <em>sites</em> externos, que estão regidos por outras políticas
          de privacidade. A Equipa não é responsável pelas políticas de
          privacidade desses mesmos <em>sites</em> nem pela sua atividade.
          Recomendamos que os utilizadores da Aplicação e do Website consultem
          as políticas de privacidade próprias dos <em>sites</em> externos. A
          Política de Privacidade aqui descrita apenas se aplica à Aplicação e
          ao Website.</p>
        <h4>Alteração de Condições de Utilização da Aplicação e Website</h4>
        <p>Sempre que as Condições de Utilização ou Política de Privacidade da
          Aplicação ou do Website forem alteradas, a Equipa irá informar os seus
          Utilizadores através de mensagens na própria Aplicação e Website.</p>
        <h4>Autorização para Utilizações Diversas</h4>
        <p>Se a Equipa pretender utilizar os dados dos Utilizadores para fins
          distintos daqueles inicialmente propostos neste documento, solicitará
          uma nova autorização aos Utilizadores, através dos meios que julgar
          necessários.</p>
        <h4>Segurança de Dados</h4>
        <p>Os dados anónimos recolhidos estão integrados numa base de dados e
          apenas os resultados da sua análise estatística serão publicados, de
          tal maneira que seja impossível associar um determinado conjunto de
          dados a um Utilizador singular.</p>
      </div>
    </div>
  </div>
{{template "footer.html" . }}