<style>a.anchor:before { content: ''; display: block; position: relative; width: 0; height: 3em; margin-top: -3em }</style>

{{define "StationLineSelector"}}
<div class="lineHeaderComplete">
  {{ range $index, $line := .StationLines }}
  <div style="text-align: center; margin-bottom: 25px; position:relative;">
    <span style="display: inline-block; position: absolute; left: 0;">
      <a style="background-color: #{{ $line.Color }}; color: #fff;" class="pure-button {{if not (index $.PrevNext $index).Prev }}pure-button-disabled{{end}}" href="/s/{{if (index $.PrevNext $index).Prev }}{{ (index $.PrevNext $index).Prev.ID }}{{end}}">
        <i class="fa fa-arrow-left"></i> {{if (index $.PrevNext $index).Prev }}{{ (index $.PrevNext $index).Prev.Name }}{{else}}<em>Terminal</em>{{end}}
      </a>
    </span>
    <span style="font-weight: 700; font-size: 1.3em;">
      Linha <a class="line" href="/l/{{ $line.ID }}" style="color: #{{ $line.Color }};">{{ $line.Name | html }}</a>
    </span>
    <span style="display: inline-block; position: absolute; right: 0;">
      <a style="background-color: #{{ $line.Color }}; color: #fff;" class="pure-button {{if not (index $.PrevNext $index).Next }}pure-button-disabled{{end}}" href="/s/{{if (index $.PrevNext $index).Next }}{{ (index $.PrevNext $index).Next.ID }}{{end}}">
        {{if (index $.PrevNext $index).Next }}{{ (index $.PrevNext $index).Next.Name }}{{else}}<em>Terminal</em>{{end}} <i class="fa fa-arrow-right"></i>
      </a>
    </span>
  </div>
  {{end}}
</div>
<div class="lineHeaderTraditional">
{{ if gt (len .StationLines) 0 }}
<h3>Linha{{ if gt (len .StationLines) 1 }}s{{end}}
  {{ range $index, $line := .StationLines }}
    {{if (and (gt (len $.StationLines) 1) (eq $index (minus (len $.StationLines) 1)) ) }} e {{else if (gt $index 0)}}, {{end}}
    <a class="line" href="/l/{{ $line.ID }}" style="color: #{{ $line.Color }};">{{ $line.Name | html }}</a>
  {{end}}
</h3>
</div>
{{end}}
{{end}}

{{template "header.html" . }}
<a name="top"></a>
  <div class="content">
    <div class="pure-g">
      <div class="pure-u-1">
        <h1>{{ .Station.Name }} <small style="padding-left: 15px;">Estação do {{ .Station.Network.Name }}</small></h1>
        {{ template "StationLineSelector" . }}
        {{ if .Closed }}
        <aside><p>Esta estação está encerrada por tempo indeterminado.</p></aside>
        {{ end }}
      </div>
      <div class="pure-u-1" style="position: sticky; top: 0px; margin-top: 10px; background-color: white;"><p style="text-align: center;"><a href="#lobbies" class="pure-button">Átrios</a> <a href="#connections" class="pure-button">Ligações</a> <a href="#pois" class="pure-button">Pontos de Interesse</a> <a href="#trivia" class="pure-button">Trívia</a></p></div>
      <div class="pure-u-1" style="overflow: visible">
        <h2><a id="lobbies" class="anchor">Mapa de área local</a> <a class="top-link" href="#top">voltar ao topo</a></h2>
        <div style="text-align: center">
          <div id="mapid" class="geomap" style=""></div>
        </div>
      </div>
      <div class="pure-u-1">
          <h2><a id="lobbies" class="anchor">Átrios</a> <a class="top-link" href="#top">voltar ao topo</a></h2>
          {{ range $index, $lobby := .Lobbies }}
            <h3>Átrio <span id="lobby-{{ $lobby.Name }}-title">{{ $lobby.Name }}</span></h3>
            <h4>Horário</h4>
            <p>
            {{ range $timetableLine := (index $.LobbySchedules $index) }}
              {{ $timetableLine }}<br>
            {{end}}
            </p>
            <h4>Saídas</h4>
            <ul class="exit-list">
            {{ range $exit := (index $.LobbyExits $index) }}
              <li class="{{ $exit.Type }}">
                <a target="_blank"
                   href="{{ (printf "https://www.google.com/maps/search/?api=1&query=%f,%f" (index $exit.WorldCoord 0) (index $exit.WorldCoord 1)) }}">
                  {{ range $idx, $street := $exit.Streets}}{{$street}}{{ if not (eq $idx (minus (len $exit.Streets) 1))}}, {{end}}{{end}}
                </a>
              </li>
            {{end}}
            </ul>
          {{end}}
      </div>
      <div class="pure-u-1">
        <h2><a id="connections" class="anchor">Ligações</a> <a class="top-link" href="#top">voltar ao topo</a></h2>
        <p>{{ range $data := .Connections }}
            {{if eq $data.ID "bus"}}<a href="#bus" style="font-size: 85%;" class="pure-button">Carreiras urbanas</a> 
            {{else if eq $data.ID "boat"}}<a href="#boat" style="font-size: 85%;" class="pure-button">Ligações fluviais</a> 
            {{else if eq $data.ID "train"}}<a href="#train" style="font-size: 85%;" class="pure-button">Comboios</a> 
            {{else if eq $data.ID "park"}}<a href="#park" style="font-size: 85%;" class="pure-button">Parques de estacionamento</a> 
            {{else if eq $data.ID "bike"}}<a href="#bike" style="font-size: 85%;" class="pure-button">Bicicletas partilhadas</a> 
            {{end}}
        {{end}}</p>
        {{ range $data := .Connections }}
          <h3>
            {{if eq $data.ID "bus"}}<a id="bus" class="anchor">Carreiras urbanas</a>
            {{else if eq $data.ID "boat"}}<a id="boat" class="anchor">Ligações fluviais</a>
            {{else if eq $data.ID "train"}}<a id="train" class="anchor">Comboios</a>
            {{else if eq $data.ID "park"}}<a id="park" class="anchor">Parques de estacionamento</a>
            {{else if eq $data.ID "bike"}}<a id="bike" class="anchor">Bicicletas partilhadas</a>
            {{end}}
            <a class="top-link" href="#connections">voltar a Ligações</a>
          </h3>
          <div class="forceSmallHeaders">{{ $data.HTML }}</div>
        {{end}}
      </div>
      <div class="pure-u-1">
          <h2><a id="pois" class="anchor">Pontos de Interesse</a> <a class="top-link" href="#top">voltar ao topo</a></h2>
          <ul>
          {{ range $index, $poi := .POIs }}
            <li style="margin-bottom: 15px">
              {{ index $poi.Names $poi.MainLocale }}<br>
              <a target="_blank" class="pure-button" style="font-size: 75%"
                  href="{{ (printf "https://www.google.com/maps/search/?api=1&query=%f,%f" (index $poi.WorldCoord 0) (index $poi.WorldCoord 1)) }}"><i class="fa fa-map" aria-hidden="true"></i> Mapa</a>
              {{ if not (eq $poi.URL "") }}
              <a target="_blank" class="pure-button" style="font-size: 75%" href="{{ $poi.URL }} "><i class="fa fa-globe" aria-hidden="true"></i> Site</a>
              {{end}}
            </li>
          {{end}}
          </ul>
      </div>
      <div class="pure-u-1">
        <h2><a id="trivia" class="anchor">Trívia</a> <a class="top-link" href="#top">voltar ao topo</a></h2>
        {{ .Trivia }}
      </div>
    </div>
  </div>
  <script>
    var map = L.map('mapid', {zoomSnap: 0});
    map.attributionControl.setPrefix(false);
    var markers = [];
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://github.com/underlx/data">Dados abertos UnderLX</a>, contribuidores do <a href="https://www.openstreetmap.org/">OpenStreetMap</a>',
        maxZoom: 18
    }).addTo(map);

    var lobbyColors = [{{ if (eq (len .Lobbies) 1) }}"#000"{{else}}"#C040CE"{{end}}, "#4CAF50", "#142382", "#E0A63A", "#F15D2A"];
    
    {{ range $index, $lobby := .Lobbies }}
      document.getElementById("lobby-{{ js ($lobby.Name) }}-title").style.color = lobbyColors[{{ $index }}];
      {{ range $exit := (index $.LobbyExits $index) }}
        markers.push(L.marker([{{ index $exit.WorldCoord 0}}, {{index $exit.WorldCoord 1}}],
          {
            title: "Saída para {{ range $idx, $street := $exit.Streets}}{{ js $street }}{{ if not (eq $idx (minus (len $exit.Streets) 1))}}, {{end}}{{end}}",
            icon: L.divIcon({
              className: 'map-marker {{ $exit.Type }}',
              iconSize:null,
              html:'<div class="icon" style="border-color: ' + lobbyColors[{{ $index }}] + '"></div><div class="arrow" style="border-color: ' + lobbyColors[{{ $index }} ] + ' transparent transparent transparent"></div>'
            })
          })
          .addTo(map)
          .bindPopup('<strong>Saída do átrio {{ js ($lobby.Name) }}</strong><br>{{ range $idx, $street := $exit.Streets}}{{ js $street }}{{ if not (eq $idx (minus (len $exit.Streets) 1))}}, {{end}}{{end}}'));
      {{end}}
    {{end}}
    var markerGroup = new L.featureGroup(markers);
    {{ range $index, $poi := .POIs }}
      markers.push(L.marker([{{ index $poi.WorldCoord 0}}, {{index $poi.WorldCoord 1}}], {title: "{{ js (index $poi.Names $poi.MainLocale) }}"})
        .addTo(map)
        .bindPopup('{{ js (index $poi.Names $poi.MainLocale) }}<br><a target="_blank" class="pure-button" href="{{ js $poi.URL }} "><i class="fa fa-globe" aria-hidden="true"></i> Site</a>'));
    {{end}}
    var poiMarkerGroup = new L.featureGroup(markers);
    map.fitBounds(markerGroup.getBounds().pad(0.2));

    L.easyButton('<span style="font-size: 15px; margin-top: 5px;"><i id="expandicon" class="fa fa-arrows-alt" aria-hidden="true"></i></span>', function(btn, map){
      document.getElementById("mapid").classList.toggle("expand");
      document.getElementById("expandicon").classList.toggle("fa-arrows-alt");
      document.getElementById("expandicon").classList.toggle("fa-times-circle");
      document.getElementById("mapid").scrollIntoView();
      map.invalidateSize();
    }, {position: "topright"}).addTo(map);
    L.easyButton('<span style="font-size: 15px; margin-top: 5px;"><i id="expandicon" class="fa fa-undo" aria-hidden="true"></i></span>', function(btn, map){
      map.fitBounds(markerGroup.getBounds().pad(0.2));
    }).addTo(map);
    L.easyButton('<span style="font-size: 15px; margin-top: 5px;" title="Mostrar pontos de interesse"><i id="expandicon" class="fa fa-map-marker" aria-hidden="true"></i></span>', function(btn, map){
      map.fitBounds(poiMarkerGroup.getBounds().pad(0.1));
    }).addTo(map);
  </script>
{{template "footer.html" . }}