<style>
a.anchor:before { content: ''; display: block; position: relative; width: 0; height: 3em; margin-top: -3em }
#etasTable {
  border-spacing: 15px;
  border-collapse: separate;
}
#etasTable tr > td:first-child {
  text-align: right;
  font-weight: bold;
}
#etasTable tr > td:nth-child(2) {
  color: black;
}
#etasTable tr > td:nth-child(3) {
  color: #555;
  font-size: 90%;
}
#etasTable tr > td:nth-child(4) {
  color: #777;
  font-size: 80%;
}
h2 {
  overflow: hidden;
}
</style>

{{define "StationLineSelector"}}
<div class="lineHeaderComplete">
  {{ range $index, $line := .StationLines }}
  <div style="text-align: center; margin-bottom: 25px; position:relative;">
    <span style="display: inline-block; position: absolute; left: 0;">
      <a style="background-color: #{{ $line.Color }}; color: #fff;" class="pure-button {{if not (index $.PrevNext $index).Prev }}pure-button-disabled{{end}}" href="/s/{{if (index $.PrevNext $index).Prev }}{{ (index $.PrevNext $index).Prev.ID }}{{end}}">
        <i class="fa fa-arrow-left"></i> {{if (index $.PrevNext $index).Prev }}{{ (index $.PrevNext $index).Prev.Name }}{{else}}<em>Terminal</em>{{end}}
      </a>
    </span>
    <span style="font-weight: 700; font-size: 1.3em;">
      Linha <a class="line" href="/l/{{ $line.ID }}" style="color: #{{ $line.Color }};">{{ $line.Name | html }}</a>
    </span>
    <span style="display: inline-block; position: absolute; right: 0;">
      <a style="background-color: #{{ $line.Color }}; color: #fff;" class="pure-button {{if not (index $.PrevNext $index).Next }}pure-button-disabled{{end}}" href="/s/{{if (index $.PrevNext $index).Next }}{{ (index $.PrevNext $index).Next.ID }}{{end}}">
        {{if (index $.PrevNext $index).Next }}{{ (index $.PrevNext $index).Next.Name }}{{else}}<em>Terminal</em>{{end}} <i class="fa fa-arrow-right"></i>
      </a>
    </span>
  </div>
  {{end}}
</div>
<div class="lineHeaderTraditional">
{{ if gt (len .StationLines) 0 }}
<h3>Linha{{ if gt (len .StationLines) 1 }}s{{end}}
  {{ range $index, $line := .StationLines }}
    {{if (and (gt (len $.StationLines) 1) (eq $index (minus (len $.StationLines) 1)) ) }} e {{else if (gt $index 0)}}, {{end}}
    <a class="line" href="/l/{{ $line.ID }}" style="color: #{{ $line.Color }};">{{ $line.Name | html }}</a>
  {{end}}
</h3>
</div>
{{end}}
{{end}}

{{template "header.html" . }}
<a name="top"></a>
  <div class="content">
    <div class="pure-g">
      <div class="pure-u-1">
        <h1>{{ .Station.Name }} <small style="padding-left: 15px;">Estação do {{ .Station.Network.Name }}</small></h1>
        {{ template "StationLineSelector" . }}
        {{ if .Closed }}
        <aside><p>Esta estação está encerrada por tempo indeterminado.</p></aside>
        {{ end }}
      </div>
      <div class="pure-u-1" id="sectionsbar" style="position: sticky; top: 0px; margin-top: 10px; background-color: white; z-index: 100000000"><p style="text-align: center;"><a href="#lobbies" class="pure-button">Átrios</a> <a href="#connections" class="pure-button">Ligações</a> <a href="#pois" class="pure-button">Pontos de Interesse</a> <a href="#trivia" class="pure-button">Trívia</a></p></div>
      <div class="pure-u-1" id="vehicleETAs" style="display: none">
          <h2><a id="etas" class="anchor">Próximos comboios</a> <a class="top-link" href="#top">voltar ao topo</a></h2>
          <p>
            <table id="etasTable">
              <thead><tr><td></td><td>Próximo</td><td colspan="2">Seguintes</td></tr></thead>
              <tbody id="etasList"></tbody>
            </table>
          </p>
      </div>
      <div class="pure-u-1" style="overflow: visible">
        <h2><a id="lobbies" class="anchor">Mapa de área local</a> <a class="top-link" href="#top">voltar ao topo</a></h2>
        <div style="text-align: center">
          <div id="mapid" class="geomap" style=""></div>
        </div>
      </div>
      <div class="pure-u-1">
          <h2><a id="lobbies" class="anchor">Átrios</a> <a class="top-link" href="#top">voltar ao topo</a></h2>
          {{ range $index, $lobby := .Lobbies }}
            <h3>Átrio <span id="lobby-{{ $lobby.Name }}-title">{{ $lobby.Name }}</span></h3>
            <h4>Horário</h4>
            <p>
            {{ range $timetableLine := (index $.LobbySchedules $index) }}
              {{ $timetableLine }}<br>
            {{end}}
            </p>
            <h4>Saídas</h4>
            <ul class="exit-list">
            {{ range $exit := (index $.LobbyExits $index) }}
              <li class="{{ $exit.Type }}">
                <a target="_blank" rel="noopener"
                   href="{{ (printf "https://www.google.com/maps/search/?api=1&query=%f,%f" (index $exit.WorldCoord 0) (index $exit.WorldCoord 1)) }}">
                  {{ range $idx, $street := $exit.Streets}}{{$street}}{{ if not (eq $idx (minus (len $exit.Streets) 1))}}, {{end}}{{end}}
                </a>
              </li>
            {{end}}
            </ul>
          {{end}}
      </div>
      <div class="pure-u-1">
        <h2><a id="connections" class="anchor">Ligações</a> <a class="top-link" href="#top">voltar ao topo</a></h2>
        <p>{{ range $data := .Connections }}
            {{if eq $data.ID "bus"}}<a href="#bus" style="font-size: 85%;" class="pure-button">Carreiras urbanas</a> 
            {{else if eq $data.ID "boat"}}<a href="#boat" style="font-size: 85%;" class="pure-button">Ligações fluviais</a> 
            {{else if eq $data.ID "train"}}<a href="#train" style="font-size: 85%;" class="pure-button">Comboios</a> 
            {{else if eq $data.ID "park"}}<a href="#park" style="font-size: 85%;" class="pure-button">Parques de estacionamento</a> 
            {{else if eq $data.ID "bike"}}<a href="#bike" style="font-size: 85%;" class="pure-button">Bicicletas partilhadas</a> 
            {{end}}
        {{end}}</p>
        {{ range $data := .Connections }}
          <h3>
            {{if eq $data.ID "bus"}}<a id="bus" class="anchor">Carreiras urbanas</a>
            {{else if eq $data.ID "boat"}}<a id="boat" class="anchor">Ligações fluviais</a>
            {{else if eq $data.ID "train"}}<a id="train" class="anchor">Comboios</a>
            {{else if eq $data.ID "park"}}<a id="park" class="anchor">Parques de estacionamento</a>
            {{else if eq $data.ID "bike"}}<a id="bike" class="anchor">Bicicletas partilhadas</a>
            {{end}}
            <a class="top-link" href="#connections">voltar a Ligações</a>
          </h3>
          <div class="forceSmallHeaders">{{ $data.HTML }}</div>
        {{end}}
      </div>
      <div class="pure-u-1">
          <h2><a id="pois" class="anchor">Pontos de Interesse</a> <a class="top-link" href="#top">voltar ao topo</a></h2>
          <ul>
          {{ range $index, $poi := .POIs }}
            <li style="margin-bottom: 15px">
              {{ index $poi.Names $poi.MainLocale }}<br>
              <a target="_blank" rel="noopener" class="pure-button" style="font-size: 75%"
                  href="{{ (printf "https://www.google.com/maps/search/?api=1&query=%f,%f" (index $poi.WorldCoord 0) (index $poi.WorldCoord 1)) }}"><i class="fa fa-map" aria-hidden="true"></i> Mapa</a>
              {{ if not (eq $poi.URL "") }}
              <a target="_blank" rel="noopener" class="pure-button" style="font-size: 75%" href="{{ $poi.URL }} "><i class="fa fa-globe" aria-hidden="true"></i> Site</a>
              {{end}}
            </li>
          {{end}}
          </ul>
      </div>
      <div class="pure-u-1">
        <h2><a id="trivia" class="anchor">Trívia</a> <a class="top-link" href="#top">voltar ao topo</a></h2>
        {{ .Trivia }}
      </div>
    </div>
  </div>
  <script>
    var map = L.map('mapid', {zoomSnap: 0});
    map.attributionControl.setPrefix(false);
    var markers = [];
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://github.com/underlx/data">Dados abertos UnderLX</a>, contribuidores do <a href="https://www.openstreetmap.org/">OpenStreetMap</a>',
        maxZoom: 18
    }).addTo(map);

    var lobbyColors = [{{ if (eq (len .Lobbies) 1) }}"#000"{{else}}"#C040CE"{{end}}, "#4CAF50", "#142382", "#E0A63A", "#F15D2A"];
    
    {{ range $index, $lobby := .Lobbies }}
      document.getElementById("lobby-{{ js ($lobby.Name) }}-title").style.color = lobbyColors[{{ $index }}];
      {{ range $exit := (index $.LobbyExits $index) }}
        markers.push(L.marker([{{ index $exit.WorldCoord 0}}, {{index $exit.WorldCoord 1}}],
          {
            title: "Saída para {{ range $idx, $street := $exit.Streets}}{{ js $street }}{{ if not (eq $idx (minus (len $exit.Streets) 1))}}, {{end}}{{end}}",
            icon: L.divIcon({
              className: 'map-marker {{ $exit.Type }}',
              iconSize:null,
              html:'<div class="icon" style="border-color: ' + lobbyColors[{{ $index }}] + '"></div><div class="arrow" style="border-color: ' + lobbyColors[{{ $index }} ] + ' transparent transparent transparent"></div>'
            })
          })
          .addTo(map)
          .bindPopup('<strong>Saída do átrio {{ js ($lobby.Name) }}</strong><br>{{ range $idx, $street := $exit.Streets}}{{ js $street }}{{ if not (eq $idx (minus (len $exit.Streets) 1))}}, {{end}}{{end}}'));
      {{end}}
    {{end}}
    var markerGroup = new L.featureGroup(markers);
    {{ range $index, $poi := .POIs }}
      markers.push(L.marker([{{ index $poi.WorldCoord 0}}, {{index $poi.WorldCoord 1}}], {title: "{{ js (index $poi.Names $poi.MainLocale) }}"})
        .addTo(map)
        .bindPopup('{{ js (index $poi.Names $poi.MainLocale) }}<br><a target="_blank" rel="noopener" class="pure-button" href="{{ js $poi.URL }} "><i class="fa fa-globe" aria-hidden="true"></i> Site</a>'));
    {{end}}
    var poiMarkerGroup = new L.featureGroup(markers);
    map.fitBounds(markerGroup.getBounds().pad(0.2));

    L.easyButton('<span style="font-size: 15px; margin-top: 5px;"><i id="expandicon" class="fa fa-arrows-alt" aria-hidden="true"></i></span>', function(btn, map){
      document.getElementById("mapid").classList.toggle("expand");
      document.getElementById("sectionsbar").style.zIndex = document.getElementById("sectionsbar").style.zIndex > 1 ? 0 : 100000000;
      document.getElementById("expandicon").classList.toggle("fa-arrows-alt");
      document.getElementById("expandicon").classList.toggle("fa-times-circle");
      document.getElementById("mapid").scrollIntoView();
      map.invalidateSize();
    }, {position: "topright"}).addTo(map);
    L.easyButton('<span style="font-size: 15px; margin-top: 5px;"><i id="expandicon" class="fa fa-undo" aria-hidden="true"></i></span>', function(btn, map){
      map.fitBounds(markerGroup.getBounds().pad(0.2));
    }).addTo(map);
    L.easyButton('<span style="font-size: 15px; margin-top: 5px;" title="Mostrar pontos de interesse"><i id="expandicon" class="fa fa-map-marker" aria-hidden="true"></i></span>', function(btn, map){
      map.fitBounds(poiMarkerGroup.getBounds().pad(0.1));
    }).addTo(map);

    {{ if not .Closed }}
    var stationNames = {
      {{ range $station := .Stations }}"{{$station.ID}}": "{{$station.Name}}",{{end}}
    };
    var lineColors = {
      {{ range $line := .Lines }}"{{$line.ID}}": "{{$line.Color}}",{{end}}
    };
    var lineOrder = [{{ range $line := .Lines }}"{{$line.ID}}",{{end}}];
    var thisStationLines = [{{ range $line := .StationLines }}"{{$line.ID}}",{{end}}];

    var mqttClient = mqtt.connect("{{ .MQTTaddress }}", {"username": "ws", "keepalive": 30});

    var stationInfo = {};
    var stationInfoReqInProgress = {};
    function getOrFetchStationInfo(id) {
      if (stationInfoReqInProgress[id] === true) {
        return stationInfo[id];
      }
      stationInfoReqInProgress[id] = true;
      let oReq = new XMLHttpRequest();
      oReq.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          stationInfo[id] = JSON.parse(this.responseText);
          updateETAsTable();
        }
      };
      oReq.open("GET", "https://api.perturbacoes.tny.im/v1/stations/" + id);
      oReq.setRequestHeader("Accept", "application/json");
      oReq.send();
      return stationInfo[id];
    }

    function getColorForStation(id) {
      let info = getOrFetchStationInfo(id);
      if(info === undefined) {
        return "black";
      }
      let lines = info.lines.filter(value => -1 !== thisStationLines.indexOf(value));
      return "#" + lineColors[lines[0]];
    }

    var lastETAsData = [];
    function updateETAsTable() {
      let etasList = document.getElementById("etasList");
      let tableRows = etasList.getElementsByTagName("tr");
      while (tableRows[0]) {
        etasList.removeChild(tableRows[0]);
      }
      /*data.sort((a, b) => {
        let lo = a.value - b.value;
      });*/
      let perDirection = {};
      for (eta of lastETAsData) {
        if (eta.type != "e") {
          // only support exact ETAs for now
          continue;
        }
        if (perDirection[eta.direction] === undefined) {
          perDirection[eta.direction] = {};
        }
        perDirection[eta.direction][eta.order] = eta;
      }
      for (var direction in perDirection) {
        let tr = document.createElement("tr");
        let dirtd = document.createElement("td");
        let color = getColorForStation(direction);
        dirtd.innerHTML = "<a href='/s/" + direction + "' style='color: " + color + "'>" + stationNames[direction] + "</a>";
        tr.appendChild(dirtd);

        for (var order = 1; order < 4; order++) {
          let eta = perDirection[direction][order];

          let td = document.createElement("td");
          if (eta !== undefined) {
            if (eta.value == 0) {
              td.innerHTML = "No cais";
            } else {
              var minutes = Math.floor(eta.value / 60);
              var seconds = eta.value - (minutes * 60);
              if (minutes < 10) {minutes = "0"+minutes;}
              if (seconds < 10) {seconds = "0"+seconds;}
              td.innerHTML = minutes+'m '+seconds + "s";
            }
          } else {
            td.innerHTML = "Sem dados";
          }
          tr.appendChild(td);
        }
        etasList.appendChild(tr);
      }
      document.getElementById("vehicleETAs").style.display = etasList.children.length > 0 ? "block" : none;
    }

    mqttClient.on('message', function (topic, message) {
      // message is Buffer
      lastETAsData = JSON.parse(message.toString());
      updateETAsTable();
    });

    mqttClient.on('connect', function () {
      mqttClient.subscribe("json/vehicleeta/{{ .Station.Network.ID }}/{{ .Station.ID }}/all");
    });
    
    {{end}}
  </script>
{{template "footer.html" . }}