{{template "header.html" . }}
<style type="text/css">
.content a { color: blue; }
.content a:visited { color: blue; }

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
<div class="content">
  <div class="pure-g">
    <div class="pure-u-1">
      <h1>Sobre nós</h1>
      <div class="videowrapper">
        <iframe src="https://www.youtube-nocookie.com/embed/RpiVsKrzJfw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <p>O site Perturbações.pt é um componente do projecto <b>UnderLX</b>, um projecto multifacetado sobre os transportes públicos portugueses, especialmente focado no <a target="_blank" href="http://www.metrolisboa.pt">Metropolitano de Lisboa</a>.</p>
      <p>
        <table class="pure-table" style="width: 100%; text-align: center;">
          <thead style="text-align: center;"><tr><th colspan="4">UnderLX</th></tr></thead>
          <tbody>
            <tr>
              <td>Aplicação UnderLX</td>
              <td>Perturbações.pt</td>
              <td>Redes sociais</td>
              <td>Grupo no Discord</td>
            </tr>
            <tr>
                <td>
                  <a href='https://play.google.com/store/apps/details?id=im.tny.segvault.disturbances&utm_source=perturbacoes.pt&utm_campaign=about-banner&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img height="60" alt='Disponível no Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/pt_badge_web_generic.png'/></a></td>
                <td>
                  <a style="text-decoration: none;" href="/"><img src="/static/img/logo.png" height="40"></a>
                </td>
                <td>
                  <a style="color: #3b5998; text-decoration: none; font-size: 200%" target="_blank" href="https://www.facebook.com/UnderLX/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                  &nbsp;<a style="color: #55acee; text-decoration: none; font-size: 200%" target="_blank" href="https://twitter.com/UnderLX"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                </td>
                <td>
                  <a style="color: #7289DA; text-decoration: none;" target="_blank" href="https://discord.gg/hhuC7fc"><img src="/static/img/discord-logo-wordmark-color.png" height="40"></a>
                </td>
              </tr>
          </tbody>
        </table>
      </p>
      <p>Estes são os principais objetivos do nosso projecto:</p>
        <ul>
          <li>Desenvolver uma aplicação para telemóveis em torno do Metro de Lisboa e, eventualmente, no futuro, outras redes de transporte público. Esta aplicação, por enquanto não oficial, deverá ser tão ou mais completa e polida que uma aplicação oficial;</li>
          <li>Monitorizar a qualidade do serviço do Metro de Lisboa e, eventualmente, no futuro, outras redes de transporte público, apresentando os dados recolhidos e as estatísticas calculadas de forma objectiva;</li>
          <li>Divulgar notícias e promover discussões acerca do transporte público em Portugal, em particular sobre o Metropolitano de Lisboa, recorrendo principalmente às redes sociais;</li>
          <li>Promover a utilização do transporte público e ajudar nessa utilização, através do desenvolvimento de soluções tecnológicas inovadoras, colmatando as falhas e estagnação tecnológica dos principais operadores de transportes portugueses, em particular do Metropolitano de Lisboa.</li>
        </ul>
      <h2>UnderLX nas redes sociais</h2>
      <p>Pode seguir-nos no Facebook e Twitter para ficar sempre a par de notícias e novidades sobre o Metropolitano de Lisboa e curiosidades gerais:</p>
      <p>
        <ul>
          <li><a style="color: #3b5998; text-decoration: none;" target="_blank" href="https://www.facebook.com/UnderLX/"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
          <li><a style="color: #55acee; text-decoration: none;" target="_blank" href="https://twitter.com/UnderLX"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
          <li><a style="color: #7289DA; text-decoration: none;" target="_blank" href="https://discord.gg/hhuC7fc"><img src="/static/img/discord-no-margin.png" width="15" height="15"> Discord</a></li>
        </ul>
      </p>
      <h2>UnderLX no <i class="fa fa-github" aria-hidden="true"></i> GitHub</h2>
      <p>O software desenvolvido no âmbito deste projecto é de código aberto, disponível sob a licença <a target="_blank" href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache versão 2.0</a>. Pode consultar o código fonte e ajudar-nos a desenvolver o site Perturbações.pt e a aplicação UnderLX visitando <a target="_blank" href="https://github.com/underlx">o nosso GitHub</a>:</p>
      <p>
        <ul>
          <li><a target="_blank" href="https://github.com/underlx/disturbancesmlx">repositório do servidor da aplicação e website</a></li>
          <li><a target="_blank" href="https://github.com/underlx/underlx">repositório da aplicação</a></li>
          <li><a target="_blank" href="https://github.com/underlx/data">repositório com dados sobre a rede do Metropolitano de Lisboa</a></li>
        </ul>
      </p>
      <h2><a target="_blank" href="https://segvault.tny.im"><img src="/static/img/segvault-16.png" alt="Segvault" /></a> e UnderLX</h2>
      <p>A <a target="_blank" href="https://segvault.tny.im">Segvault</a> é uma marca e um grupo de desenvolvimento de software e administração de sistemas de
        computadores, fundado em 2015. Este grupo surgiu da necessidade de criar um nome e identidade unificados, para mais facilmente promover os projetos dos seus membros.
        A Segvault detém outras marcas e projectos, como é o caso da <a target="_blank" href="https://i.tny.im">TNY network</a>.</p>
      <p>Tanto o UnderLX como a Segvault foram fundados por <a target="_blank" href="https://gbl08ma.github.io/">Gabriel Maia</a>, no entanto, são grupos distintos,
        compostos por membros diferentes. Os dois grupos partilham alguns recursos, como a conta de programador do Google Play e a infraestrutura necessária para os
        serviços online do UnderLX.</p>
      <p>Pretendemos tornar o UnderLX num projecto independente da Segvault a nível financeiro e de recursos, não obstante a ligação dos dois projectos para
        fins promocionais.</p>
      <h2>Legal</h2>
      <p>A Equipa do UnderLX é um grupo de pessoas que opera de forma voluntária, a título individual e sem interesses comerciais, na área das tecnologias de
        informação, com foco em redes de transporte público e na mobilidade em geral.</p>
      <p>A marca UnderLX não é abrangida pela licença Apache 2.0 e é propriedade intelectual da equipa, protegida por direitos de autor, e não pode ser utilizada sem a nossa autorização expressa.</p>
      <p><a href="/terms">Termos e Condições</a></p>
      <p><a href="/privacy">Política de Privacidade</a></p>
      <p><a target="_blank" href="https://www.apache.org/licenses/LICENSE-2.0.html">Licença de código aberto</a></p>
      <p><small>Google Play e o logótipo do Google Play são marcas comerciais da Google LLC.</small></p>
    </div>
  </div>
</div>
{{template "footer.html"}}