{{define "PageTimeSelector"}}
<div style="text-align: center; margin-bottom: 40px;" class="hideOnSmallOrSmaller">
  <span style="float: left;">
    <a class="pure-button {{if not .HasPrevPage }}pure-button-disabled{{end}}" href="/d/{{ printf "%04d" .PrevPageTime.Year }}/{{ printf "%02d" .PrevPageTime.Month }}">
      <i class="fa fa-arrow-left"></i> {{ formatPortugueseMonth .PrevPageTime.Month }}
    </a>
  </span>
  <span style="font-weight: 700; font-size: 1.3em;">
    {{ formatPortugueseMonth .CurPageTime.Month }} de {{.CurPageTime.Year }}
  </span>
  <span style="float: right;">
    <a class="pure-button {{if not .HasNextPage }}pure-button-disabled{{end}}" href="/d/{{ printf "%04d" .NextPageTime.Year }}/{{ printf "%02d" .NextPageTime.Month }}">
      {{ formatPortugueseMonth .NextPageTime.Month }} <i class="fa fa-arrow-right"></i>
    </a>
  </span>
</div>
<div style="text-align: center; margin-bottom: 10px;" class="showOnSmallOrSmaller">
  <span style="font-weight: 700; font-size: 1.3em;">
    {{ formatPortugueseMonth .CurPageTime.Month }} de {{.CurPageTime.Year }}
  </span>
</div>
<div style="text-align: center; margin-bottom: 40px;" class="showOnSmallOrSmaller">
  <span style="float: left;">
    <a class="pure-button {{if not .HasPrevPage }}pure-button-disabled{{end}}" href="/d/{{ printf "%04d" .PrevPageTime.Year }}/{{ printf "%02d" .PrevPageTime.Month }}">
      <i class="fa fa-arrow-left"></i> {{ formatPortugueseMonth .PrevPageTime.Month }}
    </a>
  </span>
  <span style="float: right;">
    <a class="pure-button {{if not .HasNextPage }}pure-button-disabled{{end}}" href="/d/{{ printf "%04d" .NextPageTime.Year }}/{{ printf "%02d" .NextPageTime.Month }}">
      {{ formatPortugueseMonth .NextPageTime.Month }} <i class="fa fa-arrow-right"></i>
    </a>
  </span>
</div>
{{end}}

{{template "header.html" . }}
{{ $top := . }}
  <div class="content">
    <div class="pure-g">
      <div class="pure-u-1">
        <h1>Perturbações do Metro de Lisboa</h1>
        {{template "PageTimeSelector" . }}
        <p><div id="chart"></div></p>
        {{ if .AverageSpeed }}
        <p>Velocidade média: {{ printf "%.02f" .AverageSpeed }} km/h</p>
        {{end}}
        {{ range $disturbance := .Disturbances }}
          {{template "component-disturbance.html" $disturbance }}
        {{else}}
          <p style="text-align: center; margin-top: 70px; margin-bottom: 70px;">Não foram registadas perturbações neste mês.</p>
        {{end}}
        {{template "PageTimeSelector" . }}
      </div>
    </div>
  </div>
  {{ if len .Disturbances }}
  <script type="text/javascript">
    var colors = [
      {{ range $line := .Lines}}
        '#{{ $line.Color }}',
      {{end}}
    ];
    var chart = c3.generate({
      data: {
          x : 'x',
          columns: [
              ['x', {{ range $line := .Lines}}'{{ $line.Name }}',{{end}}],
              ['Horas com perturbações', {{ range $line := .Lines}}{{ index $top.DowntimePerLine $line.ID }},{{end}}],
          ],
          groups: [
              ['Horas com perturbações']
          ],
          type: 'bar',
          color: function (color, d) {
              return colors[d.index];
          }
      },
      axis: {
          x: {
              type: 'category' // this needed to load string x value
          }
      },
    });
  </script>
  {{end}}
{{template "footer.html"}}