{{template "header.html" . }}
<style type="text/css">
.content a { color: blue; }
.content a:visited { color: blue; }
</style>
<div class="content">
  <div class="pure-g">
    <div class="pure-u-1">
      <h1>Donativos</h1>
      <p>Temos trabalhado neste projecto de forma dedicada ao longo de mais de um ano, nos nossos tempos livres, num total de milhares de horas de trabalho.
        Para preservar a nossa independência e neutralidade, e porque também nós detestamos publicidade, o nosso trabalho é apoiado por donativos de pessoas singulares.</p>
      <p><strong>Passe a fazer parte deste projecto e receba recompensas exclusivas, fazendo uma pequena contribuição mensal
        <a href="https://www.patreon.com/underlx">no nosso Patreon</a>! Ficaremos imensamente gratos.</strong></p>
      <p>Para além do tempo que gastamos, este projecto tem custos reais associados, por exemplo, ao nível da hospedagem na Internet, viagens para teste da
        aplicação, etc.<br>
        A sua contribuição irá motivar-nos e permitir-nos que continuemos a desenvolver <a href="/about">todo o UnderLX</a>, assegurando a continuidade e
        independência do projecto.</p>
      <h3>Porquê donativos mensais?</h3>
      <p>Preferimos receber montantes mais pequenos mas de forma periódica, pois assim é mais fácil prever o quanto vamos receber, a longo prazo, e ajustar os nossos planos.
        Torna-se também mais fácil para nós retribuir, através dos <em>rewards</em> anunciados <a href="https://www.patreon.com/underlx">no nosso Patreon</a>.</p>
      <h2>Apoiantes</h2>
      <p><em>Ainda não temos apoiantes. <a href="https://www.patreon.com/underlx">Seja o primeiro!</a></em></p>
    </div>
  </div>
</div>
{{template "footer.html"}}