<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .PageTitle }}</title>
  <meta name="description" content="Estado das linhas do Metro de Lisboa"/>
  <meta name="keywords" content="ML, metro, lisboa, perturbações, linhas, estado"/>
  <meta name="author" content="Segvault"/>

  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/img/manifest.json">
  <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <meta name="msapplication-config" content="/static/img/browserconfig.xml">
  <meta name="theme-color" content="#efe9e5">
  <meta property="og:image" content="https://perturbacoes.pt/static/img/android-chrome-256x256.png" />

  <!-- Pure CSS -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
  <!--<![endif]-->

  <!-- Counter script -->
  <script type="text/javascript" src="/static/js/flipcounter.js"></script>
  <script type="text/javascript" src="/static/js/modernizr.custom.21954.js"></script>
  <!-- Counter styles -->
  <link rel="stylesheet" type="text/css" href="/static/css/counter.css"/>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">

  <link rel="stylesheet" type="text/css" href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css">

  <link href="https://unpkg.com/c3@0.4.18/c3.min.css" rel="stylesheet">
  <script src="https://unpkg.com/d3@3.5.17/d3.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/cal-heatmap@3.6.2/cal-heatmap.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/c3@0.4.18/c3.min.js" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/cal-heatmap@3.6.2/cal-heatmap.css"> 

  <link rel="stylesheet" type="text/css" href="/static/css/custom.css?v=9"/>

  {{ if (stringContains .PageTitle "Comunicar problemas")}}
  <script src='https://www.google.com/recaptcha/api.js'></script>
  {{end}}
</head>

<body>
  <div class="header">
    <div class="pure-g">
      <a href="/" class="pure-u-4-24 pure-u-sm-1-1 pure-u-md-8-24 pure-u-lg-8-24 pure-u-xl-4-24 headerItem" style="color: inherit;">
        <img src="/static/img/logo.png" style="height: 44px; float: left;"><span class="headerTitle">Perturbações<small>.pt</small></span>
      </a>
      <a href="/d" class="pure-u-5-24 pure-u-sm-1-4 pure-u-md-4-24 pure-u-lg-3-24 pure-u-xl-4-24 headerItem">
        <div><i class="fa fa-history" aria-hidden="true"></i> <span class="headerItemText">Histórico</span></div>
      </a>
      <a href="/map" class="pure-u-5-24 pure-u-sm-1-4 pure-u-md-4-24 pure-u-lg-3-24 pure-u-xl-4-24 headerItem">
        <div><i class="fa fa-map-o" aria-hidden="true"></i> <span class="headerItemText">Mapa de rede</span></div>
      </a>
      <a href="/donate" class="pure-u-5-24 pure-u-sm-1-4 pure-u-md-4-24 pure-u-lg-3-24 pure-u-xl-4-24 headerItem">
        <div><i class="fa fa-money" aria-hidden="true"></i> <span class="headerItemText">Donativos</span></div>
      </a>
      <a href="/about" class="pure-u-5-24 pure-u-sm-1-4 pure-u-md-4-24 pure-u-lg-3-24 pure-u-xl-4-24 headerItem">
        <div><i class="fa fa-info-circle" aria-hidden="true"></i> <span class="headerItemText">Sobre nós</span></div>
      </a>
      <a href="https://facebook.com/underlx" target="_blank" class="pure-u-1-1 pure-u-lg-1-24 pure-u-xl-1-24 headerItem hideOnMediumOrSmaller">
        <div style="white-space: nowrap; font-size: 160%; text-decoration: none; color: #3b5998;"><i class="fa fa-facebook-official" aria-hidden="true"></i></div>
      </a>
      <a href="https://twitter.com/underlx" target="_blank" class="pure-u-1-1 pure-u-lg-1-24 pure-u-xl-1-24 headerItem hideOnMediumOrSmaller">
        <div style="white-space: nowrap; font-size: 160%; text-decoration: none; color: #55acee;"><i class="fa fa-twitter-square" aria-hidden="true"></i></div>
      </a>
      <a href="https://discord.gg/hhuC7fc" target="_blank" class="pure-u-1-1 pure-u-lg-1-24 pure-u-xl-1-24 headerItem hideOnMediumOrSmaller">
        <div style="white-space: nowrap; font-size: 160%; text-decoration: none; color: #3b5998;"><img src="/static/img/discord-no-margin.png" width="21" height="21"></div>
      </a>
      <a href="https://github.com/underlx" target="_blank" class="pure-u-1-1 pure-u-lg-1-24 pure-u-xl-1-24 headerItem hideOnMediumOrSmaller">
        <div style="white-space: nowrap; font-size: 160%; text-decoration: none; color: #333;"><i class="fa fa-github" aria-hidden="true"></i></div>
      </a>
      {{ $numlines := len .Lines }}
      {{ range $line := .Lines }}
        <a href="/l/{{ $line.ID }}" class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-{{ $numlines }} line status{{if $line.Down}} dimmed{{end}}" style="background-color: #{{ $line.Color }};">
          {{ $line.Name }}
          {{ if $line.Down }}
          <span style="float: right;">
            <span style="font-size: 60%;">desde há {{ $line.Minutes }} min</span>
            <i class="fa {{ if $line.Official }}fa-times-rectangle{{ else }}fa-exclamation-triangle{{end}} errorblink" aria-hidden="true"></i>
          </span>
          {{ else }}
          <span style="float: right;"><i class="fa fa-check-square" aria-hidden="true"></i></span>
          {{ end }}
        </a>
      {{ end }}
      <div class="headerSmallSocial pure-u-1">
        Siga-nos: <nobr><span style="white-space: nowrap; font-size: 130%;"><a style="color: #3b5998; text-decoration: none;" href="https://facebook.com/underlx" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>&nbsp;&nbsp;&nbsp;<a style="color: #55acee; text-decoration: none;" href="https://twitter.com/underlx" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a>&nbsp;&nbsp;&nbsp;<a style="color: #7289DA; text-decoration: none;" href="https://discord.gg/hhuC7fc" target="_blank"><img src="/static/img/discord-no-margin.png" width="16" height="16"> Discord</a></nobr></span>
      </div>
    </div>
  </div>