{{template "header.html" . }}
{{ $top := . }}
<div class="content">
  <div class="pure-g">
    <div class="pure-u-1">
      {{ if .Message }}
      <aside><p>{{ .Message }}</p></aside>
      {{end}}
      <h3>Olá, {{ .Username }} <small>(uid {{ .UserID }}) | <a href="/auth/logout">Terminar sessão</a></small></h3>
      <form class="pure-form" method="POST">
        <fieldset>
          <input type="hidden" name="action" value="reloadTemplates">
          <button type="submit" class="pure-button">Reload templates</button>
        </fieldset>
      </form>
      <h1>Perturbações na última semana <small>(segunda a domingo)</small></h1>
      <table class="pure-table" style="width: 100%; text-align: center;">
        <thead>
          <tr>
            <th>Linha</th>
            <th>Disponibilidade</th>
            <th>Duração total</th>
            <th>Duração média</th>
          </tr>
        </thead>

        <tbody>
          {{ range $index, $line := .Lines }}
          <tr>
            <td class="line" style="background-color: #{{ $line.Color }};">{{ $line.Name }}</td>
            <td>{{ (index $top.LinesExtra $index).Availability }}</td>
            <td>{{ (index $top.LinesExtra $index).TotalTime }}</td>
            <td>{{ if ne (index $top.LinesExtra $index).Availability "100.000%" }}{{ (index $top.LinesExtra $index).AvgDuration }} minutos{{else}}N/A{{end}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
      {{ if .AverageSpeed }}
      <p>Velocidade média: {{ printf "%.02f" .AverageSpeed }} km/h</p>
      {{ else }}
      <p>A velocidade média ainda está a ser calculada...</p>
      {{ end }}
    </div>
    <div class="pure-u-1" style="margin-top: 1em; border: 1px solid;">
      <h2 style="text-align: center">Perturbações no Metro de Lisboa</h2>
      <h3 style="text-align: center">Semana de {{ .StartTime.Format "02/01/2006" }} a {{ .EndTime.Format "02/01/2006" }}</h3>
      <p><div id="chart"></div></p>
    </div>
    <div class="pure-u-1">
        <h1>Tempos de espera</h1>
        <table class="pure-table" style="width: 100%; text-align: center;">
          <thead>
            <tr>
              <th>Estação</th>
              <th>Sentido</th>
              <th>Tempo</th>
            </tr>
          </thead>
  
          <tbody>
            {{ range $eta := .TrainETAs }}
            <tr>
              <td>{{ $eta.Station.Name }}</td>
              <td>{{ $eta.Direction.Name }}</td>
              <td>{{ $eta.ETA }}</td>
            </tr>
            {{end}}
          </tbody>
        </table>
        <h2>{{ .UsersOnlineInNetwork }} utilizadores online em viagem</h2>
        <h1>100 últimas leituras dos utilizadores</h1>
        <code>
          {{ range $reading := .PassengerReadings}}
            {{ $reading.Time.UTC.Format "02 Jan 06 15:04:05 MST" }}: entrada em {{ $reading.StationID }} direcção {{ $reading.DirectionID }}<br>
          {{end}}
        </code>
    </div>
  </div>
</div>
<script type="text/javascript">
var colors = [
    {{ range $line := .Lines}}
    '#{{ $line.Color }}',
    {{end}}
];
var chart = c3.generate({
    data: {
        x : 'x',
        columns: [
            ['x', {{ range $line := .Lines}}'{{ $line.Name }}',{{end}}],
            ['Horas com perturbações', {{ range $index, $line := .Lines}}{{ (index $top.LinesExtra $index).TotalHours }},{{end}}],
        ],
        groups: [
            ['Horas com perturbações']
        ],
        type: 'bar',
        color: function (color, d) {
            return colors[d.index];
        }
    },
    axis: {
        x: {
            type: 'category' // this needed to load string x value
        }
    },
});
</script>
{{template "footer.html"}}