{{template "header.html" . }}
{{ $top := . }}
  <div class="content">
    <div class="pure-g">
      <div class="pure-u-1">
        <h1>Linha <span style="color: #{{ .Line.Color }}">{{ .Line.Name }}</span> <small>do {{ .Line.Network.Name }}</small></h1>
      </div>
      <div class="pure-u-1">
        <h2><a id="stations">Estações</a></h2>
        <ul class="pt-ml-line" style="background-color: #{{ .Line.Color }}">
        {{ range $index, $station := .Stations }}
          <li>
            {{ if (index $.StationInfo $index).LeftLine }}
            <a class="pt-ml-interchange-left" style="background: linear-gradient(to left, #{{ (index $.StationInfo $index).LeftLine.Color }}, rgba(255, 255, 255, 0));" href="/lines/{{ (index $.StationInfo $index).LeftLine.ID }}"></a>
            {{end}}
            {{ if (index $.StationInfo $index).RightLine }}
            <span class="pt-ml-interchange-center" style="background-color: #{{ (index $.StationInfo $index).RightLine.Color }}"></span>
            <a class="pt-ml-interchange-right" style="background: linear-gradient(to right, #{{ (index $.StationInfo $index).RightLine.Color }}, rgba(255, 255, 255, 0));" href="/lines/{{ (index $.StationInfo $index).RightLine.ID }}"></a>
            {{end}}
            <a href="/stations/{{ $station.ID }}" {{ if (index $.StationInfo $index).Closed }} style="text-decoration: line-through" {{end}}>{{ $station.Name }}</a>
            <span class="station-features">
              {{ range $tag := $station.Tags }}
                {{ if (eq $tag "c_airport") }}<i class="fa fa-plane" aria-hidden="true"></i>{{end}}
                {{ if (eq $tag "c_bike") }}<i class="fa fa-bicycle" aria-hidden="true"></i>{{end}}
                {{ if (eq $tag "c_boat") }}<i class="fa fa-ship" aria-hidden="true"></i>{{end}}
                {{ if (eq $tag "c_bus") }}<i class="fa fa-bus" aria-hidden="true"></i>{{end}}
                {{ if (eq $tag "c_parking") }}<i class="fa fa-car" aria-hidden="true"></i>{{end}}
                {{ if (eq $tag "c_taxi") }}<i class="fa fa-taxi" aria-hidden="true"></i>{{end}}
                {{ if (eq $tag "c_train") }}<i class="fa fa-train" aria-hidden="true"></i>{{end}}
                {{ if (or (eq $tag "m_lift_surface") (eq $tag "m_lift_platform") ) }}<i class="fa fa-caret-square-o-up" aria-hidden="true"></i>{{end}}
                {{ if (eq $tag "m_stepfree") }}<i class="fa fa-wheelchair" aria-hidden="true"></i>{{end}}
              {{end}}
            </span>
          </li>
        {{end}}
        </ul>
      </div>
      <div class="pure-u-1">
        <h2><a id="availability">Disponibilidade</a></h2>
        <p>Semana: {{ printf "%.03f%%" .WeekAvailability }}{{ if (ne .WeekAvailability 100.0) }}<small>, as perturbações duraram em média {{ printf "%.01f" .WeekDuration.Minutes }} minutos.{{end}}</small></p>
        <p>Mês: {{ printf "%.03f%%" .MonthAvailability }}{{ if (ne .MonthAvailability 100.0) }}<small>, as perturbações duraram em média {{ printf "%.01f" .MonthDuration.Minutes }} minutos.{{end}}</small></p>
      </div>
      <div class="pure-u-1">
        <h2>Perturbações nos últimos 7 dias</h2>
        {{ range $disturbance := .Disturbances }}
          {{template "component-altdisturbance.html" $disturbance }}
        {{else}}
          <p>Nesta linha, não foram registadas perturbações nos últimos 7 dias.</p>
        {{end}}
      </div>
    </div>
  </div>
{{template "footer.html" . }}