{{template "header.html" . }}
{{ $top := . }}
  <div class="content">
    <div class="pure-g">
      <div class="pure-u-1">
        <h1>{{ .Station.Name }} <small style="padding-left: 15px;">Estação do {{ .Station.Network.Name }}</small></h1>
        {{ if gt (len .StationLines) 0 }}
        <h3>Linha{{ if gt (len .StationLines) 1 }}s{{end}}
          {{ range $index, $line := .StationLines }}
            {{if (and (gt (len $top.StationLines) 1) (eq $index (minus (len $top.StationLines) 1)) ) }} e {{else if (gt $index 0)}}, {{end}}
            <a class="line" href="/l/{{ $line.ID }}" style="color: #{{ $line.Color }};">{{ $line.Name | html }}</a>
          {{end}}
        </h3>
        {{end}}
        {{ if .Closed }}
        <aside><p>Esta estação está encerrada por tempo indeterminado.</p></aside>
        {{ end }}
        <p><a href="#lobbies" class="pure-button">Átrios</a> <a href="#connections" class="pure-button">Ligações</a> <a href="#trivia" class="pure-button">Trívia</a></p>
      </div>
      <div class="pure-u-1">
          <h2><a id="lobbies">Átrios</a></h2>
          {{ range $index, $lobby := .Lobbies }}
            <h3>Átrio {{ $lobby.Name }}</h3>
            <h4>Horário</h4>
            <p>
            {{ range $timetableLine := (index $top.LobbySchedules $index) }}
              {{ $timetableLine }}<br>
            {{end}}
            </p>
            <h4>Saídas</h4>
            <ul>
            {{ range $exit := (index $top.LobbyExits $index) }}
              <li>
                <a target="_blank"
                   href="{{ (printf "https://www.google.com/maps/search/?api=1&query=%f,%f" (index $exit.WorldCoord 0) (index $exit.WorldCoord 1)) }}">
                  {{ range $idx, $street := $exit.Streets}}{{$street}}{{ if not (eq $idx (minus (len $exit.Streets) 1))}}, {{end}}{{end}}
                </a>
              </li>
            {{end}}
            </ul>
          {{end}}
      </div>
      <div class="pure-u-1">
          <h2><a id="connections">Ligações</a></h2>
          {{ range $data := .Connections }}
            <h3>
              {{if eq $data.ID "bus"}}Carreiras urbanas
              {{else if eq $data.ID "boat"}}Ligações fluviais
              {{else if eq $data.ID "train"}}Comboios
              {{end}}
            </h3>
            <div class="forceSmallHeaders">{{ $data.HTML }}</div>
          {{end}}
        </div>
      </div>
      <div class="pure-u-1">
        <h2><a id="trivia">Trívia</a></h2>
        {{ .Trivia }}
      </div>
    </div>
  </div>
{{template "footer.html"}}