{{template "header.html" . }}
<div class="content">
  <div class="pure-g">
    <div class="pure-u-1">
      <h1>Termos e Condições</h1>
      <p><strong>Última alteração: 14 de Novembro de 2017</strong>
        | <a href="/terms/en">English version</a></p>
      <p>O <strong>perturbacoes.pt</strong>, daqui em diante designado por
        "Website", é um <em>site</em> na internet operado pela Equipa do UnderLX
        ("Equipa"), um grupo de pessoas que opera de forma voluntária, a
        título individual e sem interesses comerciais, na área das Tecnologias
        de Informação. O Website permite a consulta de informações sobre Redes
        de Transporte Público ("Redes de TP").</p>
      <p>Associada ao Website, e desenvolvida pela Equipa, existe ainda uma
        aplicação para dispositivos móveis intitulada <strong>UnderLX</strong>,
        a partir daqui designada por "Aplicação". A Aplicação e o Website formam
        um conjunto de ora em diante designado por "Serviço".</p>
      <h3>Âmbito e aceitação dos Termos e Condições</h3>
      <p>Os presentes termos regem a utilização do Serviço, pelo que a
        utilização do Serviço implica a aceitação destes Termos e
        Condições. Pede-se, por isso, que os leia com atenção. Considera-se
        como <strong>Utilizador Abusivo</strong> todo aquele que não actue em
        conformidade com estes Termos e Condições.</p>
      <h4>Serviços de terceiros</h4>
      <p>A Aplicação e o Website contêm hiperligações (<em>links</em>) para
        outros <em>sites</em> externos, que estão regidos por outros termos e
        condições. A Equipa não é responsável pelos termos e condições desses
        mesmos <em>sites</em> nem pela sua atividade. Recomenda-se que os
        utilizadores da Aplicação e do Website consultem os termos e condições
        próprios dos <em>sites</em> externos. Os Termos e Condições aqui
        descritos apenas se aplicam à Aplicação e ao Website.</p>
      <h3>Alterações a estes Termos e Condições</h3>
      <p>A Equipa reserva-se o direito de alterar estes Termos e Condições a
        qualquer momento, pelo que se recomenda a leitura regular deste
        documento. Por exemplo, a Equipa pode ter que alterar estes Termos ao
        introduzir uma funcionalidade nova no Serviço.</p> 
      <p>Sempre que a Equipa alterar este documento, as alterações entram em
        efeito um mês após a publicação das alterações, conforme a data
        indicada no topo do documento, ou após aceitação dos Termos, se a
        Equipa fornecer um mecanismo para aceitação imediata dos Termos e
        Condições revistos.</p>
      <h3>Política de Privacidade</h3>
      <p>Para informações sobre como recolhemos e usamos informações sobre os 
        Utilizadores do Serviço, por favor leia a nossa
        <a href="/privacy">Política de Privacidade</a>.</p>
      <h3>O seu conteúdo e conduta</h3>
      <p>O Serviço permite aos Utilizadores a submissão de dados e conteúdo. Os
        Utilizadores são responsáveis pelos dados e conteúdo que
        disponibilizarem ao Serivço, incluindo a sua legalidade, fiabilidade e
        adequação.</p>
      <p>Ao disponibilizarem dados e conteúdo no Serviço, os Utilizadores
        concedem à Equipa o direito de os utilizar, reproduzir, alterar,
        processar electronicamente, mostrar e distribuir, de acordo com a
        <a href="/privacy">Política de Privacidade</a>. Os utilizadores retêm
        todos os seus direitos sobre o conteúdo que disponibilizarem no
        Serviço.</p>
      <p><strong>Os Utilizadores devem ter em atenção que não é permitida a
        disponibilização dos seguintes tipos de conteúdo no Serviço ou
        através do mesmo:</strong></p>
      <ul>
        <li>Conteúdo ilegal, difamatório, ameaçador, fraudulento, obsceno,
          odioso, ética ou moralmente condenável, enganador ou prejudicial da
          dignidade e segurança das pessoas;</li>
        <li>Conteúdo que viole direitos de autor, patentes, marcas registadas,
          ou outros direitos intelectuais;</li>
        <li>Conteúdo invasivo da privacidade de terceiros, ou que contenha
          informação privada de terceiros;</li>
        <li>Conteúdo que, em geral, viole direitos de terceiros;</li>
        <li>Campanhas comerciais ou mensagens políticas;</li>
        <li>Material que contenha ou possa conter vírus, worms, cavalos de
          Tróia, ou outro género de material susceptível de interromper ou
          limitar a capacidade e funcionalidade de qualquer sistema
          informático.</li>
      </ul>
      <p><strong>Os Utilizadores comprometem-se a não realizar quaisquer actos
        que possam colocar em causa a continuidade, integridade ou qualidade do
        Serviço, nomeadamente:</strong></p>
      <ul>
        <li>Utilizar o Serviço de alguma forma que possa interferir, afectar
          negativamente ou inibir a utilização do Serviço por parte de outros
          utilizadores, ou de forma a danificar, desactivar, ou dificultar o
          funcionamento do Serviço;</li>
        <li>Personificar alguém ou alguma entidade;</li>
        <li>Recolher qualquer informação pessoal sobre outros utilizadores, ou
          intimidar, ameaçar ou perseguir outros utilizadores;</li>
        <li>Utilizar o serviço para partilhar conteúdo protegido por direitos
          de autor;</li>
        <li>Contornar ou tentar contornar quaisquer filtros, medidas de
          segurança, limites impostos ou outras funcionalidades desenhadas
          para proteger o Serviço, Utilizadores do Serviço, ou terceiros.</li>
      </ul>
      <h3>Conteúdo do Serviço e Propriedade Intelectual</h3>
      <p>Entende-se por conteúdo do Serviço toda a informação disponível para
        o Utilizador, nomeadamente texto, imagens, gráficos e software, exceto
        conteúdo contribuído pelos Utilizadores.</p>
      <p>O conteúdo do Serviço provém de várias origens, desde informação
        disponibilizada por Redes de TP a informação compilada pela Equipa a
        partir de fontes do domínio público. Incluem-se ainda no conteúdo do
        Serviço os materiais produzidos de raíz pela Equipa ou sob a
        coordenação da Equipa, como é o caso do grafismo.</p>
      <p>Dependendo da sua origem e de outros factores, a Equipa reserva
        diferentes direitos de propriedade intelectual sobre cada tipo de
        conteúdo do Serviço:</p>
      <ul>
        <li>Informação proveniente de operadores de Redes de TP e utilizada com
          autorização ou ao abrigo do direito de citação, encontra-se,
          <strong>no geral</strong>, no domínio público, ou nos termos
          especificados pelas fontes dessa informação;</li>
        <li>Informação sobre pontos de interesse, dados relativos às
          características de edifícios de Redes de TP (por exemplo, estações de
          metropolitano), bem como percursos em Redes de TP (por exemplo, linhas
          e carreiras) e suas correspondências, encontra-se no domínio
          público;</li>
        <li>O software relativo ao Website está licenciado nos termos da
          <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License
          2.0</a>;</li>
        <li>O software relativo à Aplicação está também licenciado nos termos da
          <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License
          2.0</a>;</li>
        <li>O logótipo do Website, "Círculo fracturado com fundo branco e margem
          preta sobre linhas amarelas e azuis", e da Aplicação, "Frente de
          carruagem vermelha com vidro preto sobre fundo azul ou branco", assim
          como os nomes "Perturbações.pt" e "UnderLX" são propriedade
          intelectual da Equipa, protegidos por direitos de autor, e não podem
          ser utilizados sem a expressa autorização por parte da Equipa.</li>
      </ul>
      <p>Pede-se aos potenciais interessados na utilização, cópia, citação ou
        distribuição de conteúdos do Serviço que obtenham mais informações e
        eventuais autorizações necessárias, especificas de cada material,
        perante a Equipa, que pode ser contactada pelo endereço de email
        <strong><a href="mailto:underlx@tny.im">underlx@tny.im</a></strong>.</p>
      <h3>Carácter legal</h3>
      <p>A validade destes Termos, assim como os direitos, obrigações e relações
        entre a Equipa e os Utilizadores estará sempre alçada e em concordância
        com a lei da República Portuguesa.</p>		  
      <p>A Equipa não se responsabiliza nem pode garantir a veracidade ou
        qualidade das informações fornecidas pelo Serviço aos Utilizadores.
        Algumas das informações prestadas podem ser confirmadas consultando as
        respetivas fontes oficiais.</p>
      <p>Os nomes "Android", "Google Play" e o logótipo do Google Play são
        marcas comerciais da Google LLC.</p>
      <p>Os nomes "Aerobus", "ANA - Aeroportos de Portugal, SA", "Bragaparques",
        "Carris", "CP - Comboios de Portugal", "CPE", "EMEL", "Empark",
        "Eurolyon", "Garagem Monumental Lda", "H&amp;M", "Hospital dos
        Lusíadas", "Metropolitano de Lisboa", "Mundicenter", "Olaias Park
        Hotel", "Placegar", "Rodoviária de Lisboa", "Saba", "Sierra Portugal,
        S.A.", "Sistemas de Engenharia de Trânsito, S.A.", "Soflusa", "Sport
        Lisboa e Benfica", "Tivoli", "Transtejo", "TST", "Vimeca / Lisboa
        Transportes", e os respectivos logótipos e grafismos, são propriedade
        intelectual, marcas registadas e/ou marcas comerciais das respetivas
        empresas.</p>
      <p>O Utilizador reconhece que qualquer disputa legal em relação ao Serviço
        ou à Equipa, ou o serviço prestado por estes, estará sob a jurisdição
        exclusiva dos tribunais da República Portuguesa. O Utilizador consente o
        exercício da jurisdição pessoal nos tribunais da República Portuguesa em
        ligação com qualquer disputa que envolva o serviço prestado.</p>
      <h3>Término do serviço</h3>
      <p>Se o Utilizador violar algum destes Termos e Condições, será
        considerado um <strong>Utilizador Abusivo</strong>. A Equipa reserva o
        direito de suspender o acesso de Utilizadores Abusivos ao Serviço, às
        suas componentes individuais, Website e Aplicação, ou a partes dos
        mesmos.</p>		  
      <h3>Totalidade do acordo</h3>
      <p>Estes Termos e Condições constituem a totalidade do acordo entre o
        Utilizador e a Equipa, em relação ao uso do Website e da Aplicação,
        assim como ao serviço por estes prestado, sobrepondo-se a qualquer
        acordo prévio entre o Utilizador e a Equipa relacionado com o uso do
        Serviço.</p>		  
      <h3>Questões, comentários e informação de contacto</h3>
      <p>Coloque qualquer questão ou comentário sobre estes Termos e Condições
        para o seguinte endereço de email:
        <strong><a href="mailto:underlx@tny.im">underlx@tny.im</a></strong>.</p>
      <p>A Equipa compromete-se a esclarecer qualquer dúvida relativa aos
        presentes Termos e Condições, bem como a analisar e eventualmente
        incorporar no Serviço ou nos Termos as sugestões dadas pelos
        Utilizadores. Ao nos dirigir comentários ou sugestões, o Utilizador
        entende que cede à Equipa o direito de utilização das ideias e trabalho
        criativo neles contidos, sem contrapartidas de qualquer tipo, incluindo
        contrapartidas de atribuição ou remuneração.</p>
    </div>
  </div>
</div>
{{template "footer.html" . }}