{{template "header.html" . }}
<div class="content">
  <div class="pure-g">
    <div class="pure-u-1">
      <h1>Terms of Service</h1>
      <p><strong>Last update: November 14th, 2017</strong>
        | <a href="/terms">Versão em português</a></p>
      <p><strong>perturbacoes.pt</strong> ("Website"), is a internet website
        operated by the UnderLX Team (in Portuguese, "Equipa do UnderLX")
        ("Team"), a group of people who operate voluntarily, individually and
        without commercial interests, in the area of Information Technology. The
        Website provides information about Public Transport Networks
        ("PTNs").</p>
      <p>An application ("App") for mobile devices, developed by the Team and
        associated with the Website, also exists. The Website and the App are
        collectively referred to as the "Service".</p>
      <h3>Scope and Acceptance of these Terms</h3>
      <p>These terms govern the usage of the Service, therefore using the
        service requires accepting these Terms. Because of this, we ask that you
        read them carefully. Anyone who uses the service without abiding by
        these Terms, shall be considered an <strong>Abusive User</strong>.</p>
      <h4>Third-Party Services</h4>
      <p>The App and the Website contain links to external websites or services.
        Your use of such third party websites and services is governed by that
        party's own terms and policies. The Terms described herein only apply to
        the App and the Website.</p>
      <h3>Changes to these Terms</h3>
      <p>The Team reserves the right to modify these terms at any time. For
        instance, the Team may need to change these terms when introducing a new
        feature, or for some other reason.</p> 
      <p>Whenever the Team makes changes to these Terms, the changes are
        effective one month after such revised Terms are published (indicated by
        revising the date at the top of these Terms), or upon acceptance of the
        revised Terms, if the Team provides a mechanism for their immediate
        acceptance.</p>
      <h3>Privacy Policy</h3>
      <p>For information on how we collect and use information about users of
        the Service, please check out our <a href="/privacy/en">Privacy
        Policy</a>.</p>
      <h3>Your Content and Conduct</h3>
      <p>The Service allows users to submit data and content. Users are
        responsible for the data and content they make available to the Service,
        including its legality, reliability and appropriateness.</p>
      <p>When users make data and content available to the Service, users grant
        the Team the right and license to use, reproduce, modify, process
        through automated means, display and distribute the data and content on
        or through the Service, in accordance with the
        <a href="/privacy/en">Privacy Policy</a>. Users retain all of their
        rights over the content they make available on or through the
        Service.</p>
      <p><strong>Users may not make available on or through the Service any of
        the following:</strong></p>
      <ul>
        <li>Content that is illegal, defamatory, threatening, fraudulent,
          obscene, ethically or morally reprehensible, misleading or detrimental
          to the dignity or security of others;</li>
        <li>Content that violates copyrights, patents, trademarks, or other
          intellectual rights;</li>
        <li>Private information of any third party;</li>
        <li>Content that, generally, violates the rights of third paries;</li>
        <li>Commercial or political messages;</li>
        <li>Content that contains or may contain viruses, worms, trojan horses,
          or other content likely to disrupt or reduce the capacity and
          functionality of any information system.</li>
      </ul>
      <p><strong>The users agree not to carry out any acts that may jeopardize
        the continuity, integrity or quality of the Service,
        namely:</strong></p>
      <ul>
        <li>Use the Service in any manner that could interfere with, disrupt,
          negatively affect or inhibit other users from fully enjoying the
          Service or that could damage, disable, overburden or impair the
          functioning of the Service;</li>
        <li>Impersonate or post on behalf of any person or entity or otherwise
          misrepresent your affiliation with a person or entity;</li>
        <li>Collect any personal information about other users, or intimidate,
          threaten, stalk or otherwise harass other users of the Service;</li>
        <li>Use the Service to share content protected by copyright;</li>
        <li>Circumvent or attempt to circumvent any filtering, security
          measures, rate limits or other features designed to protect the
          Service, users of the Service, or third parties.</li>
      </ul>
      <h3>Content of the Service and Intellectual Property</h3>
      <p>Content of the Service encompasses all information and materials
        available to the user, including all text, images, charts, graphics and
        software, except content provided by the users.</p>
      <p>The Content of the Service comes from various sources, from information
        made available by PTNs to information put together by the Team based on
        public domain information. Some of the Content of the Service consists
        on materials produced by the Team, or under their supervision, as is the
        case with graphics.</p>
      <p>Depending on their source and other factors, the Team reserves
        different intellectual property rights over each type of Content of the
        Service:</p>
      <ul>
        <li>Information coming from PTN operators, and used with permission or
          under the right of quotation, is, <strong>generally speaking</strong>,
          in the public domain, or available in the terms specified by the
          source of that information;</li>
        <li>Information about points of interest, data about specifications and
          features of PTN buildings (for example, subway stations), and
          information about routes in PTNs (for example, services and schedules)
          is in the public domain;</li>
        <li>The software that powers the Website is licensed under the
          <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License
          2.0</a>;</li>
        <li>The software that powers the App is licensed under the
          <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache License
          2.0</a>;</li>
        <li>The Website logo ("Fractured white circle with black border over
          yellow and blue lines") and the App logo ("Forward-facing red train
          with black windshield over a blue or yellow background"), as well as
          the names "Perturbações.pt" and "UnderLX", are owned by the Team,
          protected by copyright, and can not be used without explicit Team
          permission.</li>
      </ul>
      <p>The Team asks those interested in using, reproducing, quoting or
        distributing Content of the Service, to obtain more information and
        possible necessary authorizations, specific to each material, before the
        Team, which can be contacted through the email address
        <strong><a href="mailto:underlx@tny.im">underlx@tny.im</a></strong>.</p>
      <h3>Legal content</h3>
      <p>The validity of these Terms, as well as the rights, duties and
        relations between the Team and the users will always be in line with and
        in accordance with the law of the Portuguese Republic.</p>		  
      <p>The Team is not responsible and cannot guarantee the veracity or
        quality of the information provided by the Service to users.</p>
      <p>"Android", "Google Play" and the Google Play logo are trademarks of
        Google LLC.</p>
      <p>The names "Aerobus", "ANA - Aeroportos de Portugal, SA", "Bragaparques",
        "Carris", "CP - Comboios de Portugal", "CPE", "EMEL", "Empark",
        "Eurolyon", "Garagem Monumental Lda", "H&amp;M", "Hospital dos
        Lusíadas", "Metropolitano de Lisboa", "Mundicenter", "Olaias Park
        Hotel", "Placegar", "Rodoviária de Lisboa", "Saba", "Sierra Portugal,
        S.A.", "Sistemas de Engenharia de Trânsito, S.A.", "Soflusa", "Sport
        Lisboa e Benfica", "Tivoli", "Transtejo", "TST", "Vimeca / Lisboa
        Transportes", and the respective logos and graphics, are intellectual
        property or trademarks of the respective companies.</p>
      <p>The User acknowledges that any legal dispute regarding the Service or
        the Team, or the service provided by them, will be under the exclusive
        jurisdiction of the courts of the Portuguese Republic. The User consents
        to the exercise of personal jurisdiction in the courts of the Portuguese
        Republic in connection with any dispute involving the provided
        service.</p>
      <h3>Termination</h3>
      <p>If the user violates any of these Terms, he shall be considered an
        <strong>Abusive User</strong>. The Team has the right to suspend the
        access of Abusive Users to the Service, its individual components,
        Website and Application, or parts of them.</p>		  
      <h3>Entire Agreement</h3>
      <p>These Terms constitute the entire agreement between the user and the
        Team regarding the use of the Service, superseding any prior agreements
        between the user and the Team relating to your use of the Service.</p>		  
      <h3>Feedback and contact information</h3>
      <p>Please send any questions or comments about these Terms, to the
        following email address:
        <strong><a href="mailto:underlx@tny.im">underlx@tny.im</a></strong>.</p>
      <p>The Team shall clarify any doubt regarding these Terms and Conditions,
        as well as analyze and eventually incorporate into the Service or the
        Terms the suggestions given by the users. By submitting comments or
        suggestions, the user grants the Team the right to use the ideas and
        creative work contained therein, without compensation of any kind,
        including attribution or monetary compensation.</p>
    </div>
  </div>
</div>
{{template "footer.html"}}